[2016-09-05 19:56] ice09 opened #1 "Support for ConsenSys Testnet (id=161)"
Couldn't find an other way to ask my question:

I registered and got the welcome mail with Mainnet and Morden URLs in it, but no ConsenSys Testnet (id 161). I read somewhere that this is supported as well.

Is it? Will it be in the future?

Thanks for this cool & lightweight tool.

[2016-09-05 21:22] hermanjunge commented on #1
https://consensysnet.infura.io

[2016-09-05 21:22] #1 closed

[2016-09-10 07:24] hrishikeshio opened #2 "ipfs says CORS is not allowed?"
XMLHttpRequest cannot load http://ipfs.infura.io:5001/api/v0/add?stream-channels=true. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost' is therefore not allowed access. The response had HTTP status code 400.

This makes the service useless. Am I missing something?

[2016-09-21 19:49] ice09 opened #3 "JSON/RPC error with web3.j"
Hi there,

I am trying to get web3.j to run with infura.io but get the error message
`com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "data" (class org.web3j.protocol.jsonrpc20.Response$Error), not marked as ignorable (2 known properties: "code", "message"]) at [Source: org.apache.http.conn.EofSensorInputStream@4a1502f8; line: 1, column: 80] (through reference

[2016-09-22 10:53] ice09 commented on #3
The problem is probably caused by web3.j since "jsonRpc" is serialized as "jsonrpc". This causes problems in Parity but not in geth. Will let you know if this suspicion turns out correct and let you know.

[2016-09-22 19:00] ice09 commented on #3
web3.j fixes this issue.

[2016-09-22 19:00] #3 closed

[2016-10-02 12:09] kingflurkel opened #4 "SHH / Whisper on morden"
Whisper not running on morden.infura?

[2016-10-05 06:39] egalano commented on #4
We are not yet running whisper. We have whisper support on our roadmap but no set date for adding support. I'll update this issue when we have a firm date for shh support

[2016-10-19 01:03] OR13 commented on #2
+1 bump

perhaps an example with http-server exists somewhere?

[2016-10-19 04:26] hermanjunge commented on #2
You may need to point to `https`

[2016-10-19 04:27] #2 closed

[2016-10-19 04:27] #4 closed

[2016-10-23 19:39] OR13 commented on #2
thanks @hermanjunge, using `IpfsApi(host, port, {protocol: 'https'})` resolved my issue.

[2016-10-31 19:51] danfinlay opened #5 "Transactions occasionally dropped without reaching chain"
Down at MetaMask, we've had some developers report that some transactions are not reaching the main chain.

Maybe Infura needs to retry txs until they're accepted? In any case, these devs need to know what the status of this issue is.

MetaMask/metamask-plugin#760
MetaMask/hello#34

Are two that I can find off the top of my head, but we've had several reports.  I'm opening this issue so those devs

[2016-10-31 20:24] hermanjunge commented on #5
As today, OCT.31, we are in the middle of an architecture migration to `0.1.0`. We have also plans to build a transaction pool monitor as soon as this migration is ready. Will report in this very issue its progress.

[2016-11-05 08:44] egalano opened #6 "Certificate verification failures due to untrusted root certificate"
The INFURA endpoints currently use certificates issued by Lets Encrypt which are cross signed by IdenTrust. The Lets Encrypt root certificate and the IdenTrust certificate are not universally trusted because their inclusion in the library or OS's trusted certificates is relatively recent. For instance OpenJDK added IdenTrust on 05-20-2016. https://bugs.openjdk.java.net/browse/JDK-8154757

INFURA s

[2016-11-05 19:45] hermanjunge commented on #6
Let's do the right thing: Move the DNS to an area controllable only for INFURA, and buy certificates with a more mature Certificate Authority.

Thoughts @maurycyp @wuehler ?

[2016-11-05 19:57] egalano commented on #6
I agree with what @wuehler said in the team chat. I'd like to support LetsEncrypt because its a great project. We need to look at this compatibility list and determine if it meets our user's needs. If we need to support platforms and libraries outside of that list then switching to a more mature authority will be necessary.

[2016-11-05 19:57] egalano commented on #6
https://letsencrypt.org/docs/certificate-compatibility/

[2016-11-18 00:05] hitchcott opened #7 "Debugging Tools"
I've been using a morden infura node in combination with ethereumjs-wallet (for tx signing) for the last few days with no problems.

All of a sudden, today I'm experiencing lots of strange errors, including 'not enough balance' and 'nonce too low', for accounts that definitely have enough balance. Each time I try to run some migrations, it gives me a different error seemingly at random, and in rar

[2016-11-18 00:19] egalano commented on #7
Thanks for reporting the issue @hitchcott . A lot of people have been experiencing network issues on morden today both on infura and those running local nodes. It seems to be related to the amount of clients on morden running the ill-fated parity-1.3.10 release which forked earlier today. That release was superceeded by parity-1.3.11+ which reverted that fork after the parity and go-ethereum teams

[2016-11-18 00:43] hitchcott commented on #7
@egalano thanks for getting back swiftly - makes sense things are weird today. I'll keep an eye on it and let you know if it's not working as expected by next week.

As for logs, I'm not too sure what is or can be useful depending on the INFURA backend, but the main thing would be as you say - the log of incoming HTTP requests and their HTTP responses (JSON RPC frames), similar to what you'd see w

[2016-11-18 00:55] hitchcott commented on #7
Btw, looks like those problems have now resolved themselves, at least for now!

[2016-11-18 01:00] egalano commented on #7
Good to hear thanks @hitchcott . I'll keep this issue open for the next day or two so others running into the same problem can find the discussion. Definitely ping us if you see more issues we can investigate.

[2016-11-19 21:53] tjayrush opened #8 "Preferred client setting header should accept version strings."
Currently you can specify your preferred client (Parity or Geth) with the header "Infura-Ethereum-Preferred-Client: " sent as part of the request. This should be extended to accept version strings, but not hard coded versions strings. One suggestion would be release strings such as 'stable,' 'develop', etc. Another would be to use version strings in a way similar to cargo or npm which allows you t

[2016-11-21 09:59] ice09 opened #9 "Support for new Ropsten Testnet"
Might be a little early, but it'd be great to have Ropsten support from the beginning, could be another good argument for using infura without having to install/setup new Testnet clients locally.

https://blog.ethereum.org/2016/11/20/from-morden-to-ropsten/

[2016-11-21 10:01] hermanjunge commented on #9
Thanks for the input @ice09 (and love the Vonnegut's Cat's Cradle reference... Or is the Satriani's Song?)

We are already making the calculations in terms of hardware in order to start giving support to the `ropsten` network. Stay tuned.

[2016-11-21 12:17] egalano commented on #9
Infura support for Ropsten is now live at:
https://ropsten.infura.io as well as
https://testnet.infura.io

Currently running both geth 1.5.2 and parity 1.4.4 within the cluster.

[2016-11-21 12:17] #9 closed

[2016-12-03 01:26] egalano opened #10 "Stateful transaction support"
@chejazi reported that his test page https://credsign.github.io/terminal/test.html was not working consistently.

After taking a quick look, it appears to be because the page is using newFilter and getFilterLog methods against INFURA. These transactions require that the getFilterLog request gets routed to the same node on which the Filter was installed. We need to come up with our solution for the

[2016-12-03 02:34] chejazi commented on #10
Another idea to mitigate the issue would be to support websocket connections once they're reintroduced into web3. I heard from the gitter channel they'll be included in the next major version.

[2016-12-15 14:03] rolandkofler opened #11 "Cant' access Ropsten"
Morden returns something but Ropsten is silent...

[2017-01-10 12:13] wighawag opened #12 "I frequently get 502 error, what do they mean in the context of Infura"
For example on eth_getBlockByNumber :

Error: HTTP Error: 502 on eth_getBlockByNumber
    at Request._callback (/node_modules/web3-provider-engine/subproviders/rpc.js:43:18)

What does that mean ?

Thanks

[2017-01-10 15:21] egalano commented on #12
Those errors could mean that the backend rpc node serving your requests is overloaded. We disabled rate limiting in the interest of providing a better developer experience but it may be time to reinstate that or scale up our cluster to handle more traffic. Ill take a look and see if that is the case. I'm assuming you're getting these errors on mainnet for etherplay?

[2017-01-10 15:24] wighawag commented on #12
ok, yes that's correct, our backend for etherplay probe the mainnet regularly  and this error happen sometimes.

[2017-01-11 10:32] DTaste opened #13 "Watch events : 405 (Method Not Allowed)"
Seems that watching events is no more allowed.
I'm trying to watch events from my contract this way :
` registerEvents.watch(function (err, result) { ...}`

It used to work few days ago and now get : 405 (Method Not Allowed) error
What happened ?

Thanks ( and happy new year to the INFURA great team)

[2017-01-12 07:00] egalano commented on #13
Hi @DTaste happy new year! Sorry for the inconvenience. We did rolled out a new version of our authentication API layer which filters out unstable/insecure RPC methods. We've been testing the feature on ropsten for several weeks and finally promoted it to mainnet. The registerEvents.watch function under the hood is attempting to install a filter onto one of the INFURA nodes. In the past we allowed

[2017-01-12 07:28] egalano commented on #12
@wighawag we deployed a new caching layer and increased our server footprint. Are you still seeing errors on your end? The monitoring on our side looks much healthier now.

[2017-01-12 15:56] DTaste commented on #13
I understand, thank you for your explanations.

[2017-01-12 22:32] wighawag opened #14 "Call error 11: Deadline exceeded (timeout)"
I got at least one instance of : ,Call error 11: Deadline exceeded (timeout)

What does it mean ?

[2017-01-12 22:32] wighawag commented on #12
@egalano thanks, It seems to have worked. I did not get any yet I think, I ll let you know if I get them again

[2017-01-12 22:41] egalano commented on #12
OK great! Definitely keep us posted on any errors or performance issues you encounter.

[2017-01-23 09:26] jtakalai commented on #9
JFYI: on your "Hello X!" page, it still says "Test Ethereum Network (Morden)" even though the URL is  ropsten.infura.io

Maybe update UI strings?  (:

[2017-01-23 09:36] hermanjunge commented on #9
@wuehler ^^

[2017-01-23 19:12] wuehler commented on #9
Thanks, fixed.

[2017-01-24 09:17] maurycyp commented on #11
@rolandkofler Could you clarify what you mean? If not, then I'll have to close this issue.

[2017-01-24 09:17] maurycyp commented on #14
@wighawag Could you provide more information or clarify what you mean? Otherwise, I will have to close this issue.

[2017-01-24 09:24] #11 closed

[2017-01-27 01:22] wighawag commented on #14
Sorry, I do not recall having more info than that.
I ll reopen if it happens again

Thanks

[2017-01-27 01:22] #14 closed

[2017-02-17 10:37] tomusdrw commented on #10
Installing filter on all nodes would not really work that well, since further calls to `eth_getFilterLogs` are stateful and will return only logs that happened after previous call to that method.

I think it would be best to alter nodes and decouple filters state from the RPC implementation and store it in some kind of fast, scalable key-value database.

[2017-03-21 09:37] wighawag commented on #12
This is happening again, sometime it keep responding 502 for a while. Right now after 5-10 min it is still responding 502 when I call eth_getBlockByNumber. I also get connection timeout in the mix.

[2017-03-21 15:16] egalano commented on #12
Thanks for reporting @wighawag I'll take a look. This is against mainnet?

[2017-03-21 15:35] wighawag commented on #12
Actually the one that triggered the reopenning was on the testnet but I saw similar issue on our logs from the mainnet too

[2017-03-30 10:54] luisivan opened #15 "Gateway Time-out when pinning IPFS entries"
How to replicate:

`curl "https://ipfs.infura.io:5001/api/v0/pin/add?arg=QmTr9QeD3Fr7apJD2ogd1q7NKmmv2KBL5KFP19gSEJz3g5&recursive=true"` (with an IPFS object)

`curl "https://ipfs.infura.io:5001/api/v0/pin/add?arg=QmRfkxM6b9Gd8dNzkJXdNSwxCQQDTJAdCnyNXjBGnhWue3&recursive=true"` (with IPNS)

Both timeout, would love some help in figuring out how to resolve it! :)

[2017-03-31 00:12] egalano commented on #15
Thanks for filing the issue Luis I will try to reproduce. Can you show me your full curl query with headers, method, etc with `-vvv` output?

[2017-03-31 13:25] luisivan commented on #15
Sure! Here it goes:

[code]

[2017-04-02 01:45] MicahZoltu opened #16 "Should return `method not found` JSON RPC response instead of HTTP 405."
Per the [JSON-RPC specification](http://www.jsonrpc.org/specification#error_object), unsupported methods should return a JSON-RPC response (presumably HTTP 200) with details

`curl https://ropsten.infura.io/ -H "Content-Type: application/json" -X POST --data '{"jsonrpc":"2.0","method":"eth_subscribe","params":["newHeads"],"id": 1}' -v` shows that Infura is responding with an HTTP `405 Method Not A

[2017-04-04 04:19] wighawag opened #17 "It seems infura ropsten point to the attacked ropsten. Could this be change to point to the ropsten revival"
https://ropsten.etherscan.io/ vs https://testnet.etherscan.io/

[2017-04-04 04:26] wighawag commented on #17
I think it was in the past and since my system was using blocknumber for ordering it got confused since the attacked network had higher block number in the past

[2017-04-04 04:26] #17 closed

[2017-04-08 10:58] wighawag commented on #12
Hi, it seems to come in burst. As of now, I get 502 for every getBlockByNumber call :

[code]

[2017-04-08 13:59] wighawag opened #18 ""latest" block stuck at 3498081"
A call to getBlock('latest') keep returning the block 3498081

[2017-04-08 20:09] egalano commented on #12
Hi @wighawag our mainnet nodes were under heavy load this morning and mainnet was periodically returning 502s during a period of about 3 hours earlier today. You can check infura status here http://status.infura.io sorry for the inconvenience but everything is up and healthy now and we will monitor closely over the next few days

[2017-04-13 15:05] thekelvinliu opened #19 "update on whisper support?"
i'm working on a dapp that will really benefit from using whisper. i just tried testing the json rpc methods using the infura endpoints, and it looks like they're still not supported. according to #4, adding whisper support is kinda planned. any updates on this?

[2017-04-26 11:18] niktrix opened #20 "cannot access ipfs infura"
adding file to ipfs infura gives timeout

curl -F "file=dasd.png" "https://ipfs.infura.io:5001/api/v0/add"

curl: (28) Connection timed out after 300998 milliseconds

[2017-04-26 17:00] egalano commented on #20
Thanks for the bug report @niktrix I'll take a look at this

[2017-04-26 17:08] egalano commented on #20
@niktrix you are missing an `@` It should be
`curl -F "file=@dasd.png" "https://ipfs.infura.io:5001/api/v0/add"`

Please re-open this issue if it still does not work for you.

[2017-04-26 17:08] #20 closed

[2017-04-26 17:09] egalano commented on #18
This was a transient issue with one of our backend nodes. It looks to be resolved. Please re-open if this is still an issue for you.

[2017-04-26 17:09] #18 closed

[2017-05-03 21:09] RamiroMoreira opened #21 "Create ropsten account"
Hello, i'm having an issue, i think is easy to solve but i don't know how. I'm using infura and trying to use the ropsten test net. But i don't have a ropsten account so i can't make a transaction. Someone can tell me how to create an account?

[2017-05-03 21:38] maurycyp commented on #21
@RamiroMoreira You can use something like Metamask ( https://metamask.io/ ) to create and manage accounts.  They even give you 1 Ropsten ether to get started.  Check out their videos and documentation and you should be good to go.

[2017-05-03 21:38] #21 closed

[2017-05-04 15:24] MostafaBalata opened #22 "cors error 504 infura in eth_getlog"
I'm trying to send the following request via infura
`{"id":1493911104930935,"jsonrpc":"2.0","params":[{"fromBlock":"0x307324","toBlock":"latest","address":"0x3BF541f87056D134E0109BE1Be92978b26Cb09e0","topics":["0x8442948036198f1146d3a63c3db355d7e0295c2cc5676c755990445da4fdc1c9",null]}],"method":"eth_getLogs"}
`

but unfortunately I've CORS error in the response !
XMLHttpRequest cannot load https:/

[2017-05-05 07:10] egalano commented on #22
Hi Mostafa it looks like its something youre doing locally that is causing the error. We use this site to verify that cors is working when users report issues. Can you take a look and see if it is a valid test equivalent to what you are trying to run locally?
[CORS-TEST](http://www.test-cors.org/#?client_method=POST&client_credentials=false&client_headers=content-type%3Aapplication%2Fjson&client_p

[2017-05-07 12:57] yuanfeiz commented on #10
Any progress on this feature?

[2017-05-24 15:42] SandroLuck commented on #10
Any other way to get the events via infura?

[2017-05-24 23:10] shine2lay commented on #10
Here is how i get events via infura, it is not the most efficient method but i think its quite reliable.

get blocks from infura and goes through each transactions and checks if to/from is an address that we want to watch.

If so, call getTransactionReciept with the transaction hash which will return the transaction object with 'logs' field which are events fired during the transaction.

[2017-05-24 23:14] chejazi commented on #10
I currently use the [ZeroClientProvider](https://github.com/MetaMask/provider-engine/blob/master/zero.js) in my web3 instance to retrieve logs from infura, initialized like so: https://github.com/channel/channel.github.io/blob/master/app/src/scripts/initialize.jsx#L27

[2017-06-14 12:42] zincoshine commented on #12
hello, calls on the infura mainnet keeps returning 502 for the function getBlock('latest')

[2017-06-14 17:18] maurycyp commented on #12
@zincoshine Can you provide more details so we can reproduce your issue.

When I run the `eth_getBlockByNumber` JSON-RPC method, I do not get 502s:
[code]

[2017-07-07 22:29] bkawk opened #23 "IPFS Send file from browser"
Is there any documentation for how and where to send a file to IPFS?

Do I simply make a POST to this address `https://ipfs.infura.io:5001/api/v0/add` and post the image as base64 or an array buffer?

[2017-07-16 15:26] Manidos opened #24 "Two possible Infura issues"
Hey! I'm using `ethers.js` library to connect to the Ropsten network.
I have two issues that might have someting to do with your awesome gateway.
The issues started today.

First issue — [getBalance is unreliable in production](https://github.com/ethers-io/ethers.js/issues/31)
Second issue —[Each new block triggers all past events](https://github.com/ethers-io/ethers.js/issues/32)

If you think it

[2017-07-16 15:48] egalano commented on #24
Thanks for reporting and providing code samples.  We'll investigate and try to reproduce.

[2017-07-17 09:09] Manidos commented on #24
@egalano No problem, that's the least I can do.
Anyway, I want to inform you that the problems are gone now. It's been 30 minutes or so since everything went back to normal. Thank you for the great work!

[2017-07-17 15:27] egalano commented on #24
Thanks for verifying @Manidos . We did find that one of our cluster nodes was out of sync and we were able to correct that and are working on our monitoring to catch this in the future.

[2017-07-17 15:27] #24 closed

[2017-07-19 15:15] conor10 commented on #6
I see the Infura certificates are now from Amazon - is this a permanent change? If so I can remove the workaround provided in web3j.

[2017-07-19 15:16] conor10 commented on #8
Are there any plans to implement this functionality?
Likewise is the Infura-Ethereum-Preferred-Client string going to remain? web3j supports them, but I'm wondering if they should now be removed.

[2017-07-19 15:18] wuehler commented on #6
Yes, this is permanent... for now :-)

[2017-07-19 15:55] egalano commented on #6
@conor10 we did move off of letsencrypt certificates for now but do want to leave open the possibility of supporting letsencrypt in the future. If it isn't mucking up your code base too much, I would vote for leaving that code in place.

[2017-07-19 16:08] Joeblockmark opened #25 "Transactions sent using sendRawTransaction not working"
I am trying to send a transaction using eth_sendRawTransaction using the following code:
`HTTP.call('POST',node,{data:{"jsonrpc":"2.0","id":1,"method":"eth_sendRawTransaction","params":['0xabc123...']},headers: {'Content-Type': 'application/json'}})`

 I get the following response which seems to suggest that it has worked, however when I look at it on a blockchain explorer such as etherscan, [noth

[2017-07-19 17:10] conor10 commented on #6
Thanks - it's easy to reinstate down the line, and it's less likely to be
an issue due to it's only older versions of Java that don't have Lets
Encrypt setup as a CA.

On 19 July 2017 at 16:55, Eleazar (E.G.) Galano <notifications@github.com>
wrote:

--
Web:    http://conorsvensson.com
Phone:  +44 7497 376 365
Skype:  conor_svensson

[2017-07-19 17:40] egalano commented on #6
Right. Sounds good. Guess we can close this for now!

[2017-07-19 17:40] #6 closed

[2017-07-19 18:06] tueric commented on #25
@Joeblockmark can you provide us with some more information with respect to the payload? Namely the network you used, what url you send the request to, gasPrice, etc... Thanks

[2017-07-19 21:04] tueric commented on #25
@Joeblockmark Hey your gasPrice is only 100... You need a much larger gasPrice. Recommended on mainnet is 21Gwei.

[2017-07-19 21:04] #25 closed

[2017-08-04 08:34] macbem commented on #10
Any progress and/or a recommended solution? I'm getting the error as well.

[2017-08-08 10:34] gerstaro opened #26 "Testing in ropsten network (in infura) with truffle.js gives me this error"
root@ubuntu-4gb-nyc3-01:~# truffle migrate --network ropsten (node:14686) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): TypeError: this.provider.sendAsync is not a function (node:14686) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zer

[2017-08-09 19:34] wuehler commented on #26
Have you posted the issue to truffle as well? It isn't clear where Infura would be blocking on this issue..

[2017-08-11 08:29] noxonsu commented on #19
Any updates?

[2017-08-11 09:35] lukehedger opened #27 "Does Infura support the Web3.js 1.0.0"

[2017-08-11 09:35] lukehedger opened #28 "Does Infura support the Web3.js 1.0."

[2017-08-11 09:35] lukehedger opened #29 "Does Infura support the Web3.js 1.0 API?"
Using `web3@1.0.0-beta.18` I have attempted to deploy a contract to Rinkeby with a single argument:
[code]

The contract deploys OK but when calling a method to return the constructor argument, `0` is returned, which suggests the argument was not processed.
[code]

The contract is here for ref:
[code]

[2017-08-11 09:52] #28 closed

[2017-08-11 09:52] #27 closed

[2017-08-15 09:43] jdkanani opened #30 "Empty receipt, blockNumber and blockHash occasionally in TX batch request"
Tx object:
[code]
Receipt is `null` when fetching receipts in batch for these transactions.

After few seconds, if you fetch again - it's working.

[2017-08-16 12:42] wighawag opened #31 "getBlock(Latest) and eth_call block.number can differs"
Hi,

It is probably due to allow scaling (by having different server for different calls) but this behavior is unfortunate. It has cost us some ether until as we were not watching while this was happening :

Our backend script get the timestamp of the last block returned by getBlock("Latest") to ensure we are not reading stale data from the chain.

From that point we use eth_call to gather data as

[2017-08-16 13:42] wighawag commented on #31
Actually I just realized I can pass a block number to eth_call so I should be able to solve my issue by ensuring I get some value.

[2017-08-16 14:15] wighawag commented on #31
Hmm, I am using the blockNumber I get from getBlock("Latest") to use it instead of the defaultBlock in eth_calls but this seems to always make these call return 0 for block.number.

What is the behavior supposed to be for a node that receive a eth_call for a block that it still did not get? is it to return 0 for block.number ?

[2017-09-05 13:27] wighawag opened #32 "underpriced transaction errors"
on ropsten infura nodes are rejecting transaction with gas price as high as 21 gwei

There are multiple users reporting the same issue : https://github.com/ethereum/go-ethereum/issues/14838

For my dapp running on ropsten I would like to mimic the gasPrice I plan to use on the mainnet (as low as 1 gwei) but currently infura nodes is rejecting such transaction with the error "undepriced transaction

[2017-09-06 01:34] themandalore commented on #32
I think they fixed it...not getting the error now

[2017-09-06 06:52] illya13 commented on #32
still have it now

[2017-09-06 14:13] wighawag commented on #32
even at 22 gwei tx get refused.

[2017-09-08 18:23] egalano commented on #29
Hi @lukehedger we're working on web3.js 1.0 support i.e. scalable websocket support now. It's in early alpha support stage on our side. If you're interested in helping us test it out shoot me your contact info and I'll get you access.

[2017-09-12 09:21] lukehedger commented on #29
Hey @egalano - sounds cool! Would definitely like to help test. Email is: luke@jaak.io.

[2017-09-16 06:49] illya13 commented on #32
any update, still having this issue

[2017-09-17 01:00] themandalore commented on #32
I've just been catching the error and then restarting it and it will work after a few times.  I think it may be infura charging more for multiple fast calls, but that's just a theory...but yeah I'm still getting it

[2017-09-19 18:49] ftppro opened #33 "Please provide PHP example for eth_sendRawTransaction"
I wish to have a PHP script use Infura's endpoint to call eth_sendRawTransaction. I have a PHP script which uses curl to call functions through Infura's endpoint, like eth_getBalance.

I use BlockCypher's "signer" program to sign data at BlockCypher.

The following description of eth_sendRawTransaction does not indicate how to create the signed transaction data:
https://github.com/ethereum/wiki/wi

[2017-09-26 17:55] rhlsthrm commented on #29
Hi @egalano, I'd also like to test out the new version. Email is rahul@connextapi.com.

[2017-09-26 23:09] strelok1 opened #34 "Please add `ethaud` currency pair to support getting rates for Australian Dollar (AUD)"
Metamask is switching to Infura currency API which does not have support for AUD yet. There are many blockchain enthusiasts in Australia and it would be great to have the balances displayed in AUD.

https://github.com/MetaMask/metamask-extension/pull/2177

[2017-09-27 11:42] maurycyp commented on #34
Thank you @strelok1 , I will add the ethaud pair and update this ticket when the task is complete.

[2017-09-27 11:58] maurycyp opened #35 "Add ethkrw to Market Data API"

[2017-09-27 16:34] maurycyp commented on #34
Completed.

https://api.infura.io/v1/ticker/ethaud

[2017-09-27 16:34] #34 closed

[2017-09-28 11:44] maurycyp commented on #35
Completed.

https://api.infura.io/v1/ticker/ethkrw

[2017-09-28 11:44] #35 closed

[2017-10-02 10:08] tensor5 commented on #29
Hi @egalano, I'd like to try the Web3.js 1.0 support. tensor5@gmail.com. Thanks

[2017-10-06 01:16] strelok1 commented on #29
Would love to get beta access to web3js 1.0 support with web sockets. roman.rodov+github@gmail.com

[2017-10-06 06:00] rhlsthrm commented on #29
Has anyone gotten an email from them regarding this issue? I have not received anything.

[2017-10-06 14:59] egalano commented on #29
Sorry for the delay, I just sent the email with the connection details. Please give it a try and let us know if you encounter any issues.

[2017-10-06 15:14] strelok1 commented on #29
Thanks. Got the email. Will report back with any probs. Cheers

[2017-10-06 15:36] tensor5 commented on #29
@egalano Thanks!

[2017-10-09 11:39] DalderupMaurice commented on #29
Any estimation when this functionality will be available?
Currently, I have no clue how to watch events whatsoever - while using infura. @egalano

[2017-10-10 22:05] miguelmota commented on #29
@egalano i'm interested in trying out and testing infura websocket support miguel@mota.email

[2017-10-11 07:36] samandarr commented on #29
Hi @egalano, happy to test out the alpha version.  Email: ravshanoff at protonmail

[2017-10-12 05:25] valashnez commented on #29
Hi @egalano , I'd also love to test out the alpha version. Email: cvaladez@stanford.edu

[2017-10-12 07:22] jdkanani commented on #29
@egalano Hey I have built infra to listen live events from Ethereum: https://matic.network/dagger
Thought you would find this interesting.

[2017-10-12 08:03] miguelmota commented on #29
Really cool library @jdkanani

[2017-10-12 18:16] egalano commented on #29
Nice @jdkanani . Is that library compatible with any Ethereum node or specifically Geth's pub-sub API.

[2017-10-12 18:26] jdkanani commented on #29
@egalano Unfortunately no.

Problem was that - if you have multiple Geth nodes - you have to deploy filters on every node. Plus, separating filters from Geth will give you  more control over filter types. There are some cons too. But overall this will make development very easy for DApps.

[2017-10-13 12:40] litvintech opened #36 "Description of “Ferryman” Service Layer architecture"
Please, provide description of Ferryman Service Layer architecture and proxy load balance + Redis/SQL
1. What instruments are you using and how are you using them?
2. Why don't you opensourced service layer?

[2017-10-13 13:14] icaroharry commented on #29
hey @egalano. I'm trying to listen to an event (with Web3.js) from a contract deployed in Ropsten but I'm getting `The current provider doesn't support subscriptions`. Is it related to this issue? If so, I'm interested in testing the websocket support. Email: me@icaro.io

Thanks in advance!

[2017-10-13 23:24] egalano commented on #29
Hi @icaroharry yes our API does not allow stateful requests at the moment. Our JSONRPC API endpoint currently load balances requests between many backend Ethereum nodes to be able to handle our large request volume. This is why we don't allow event subscriptions which use eth_newFilter and eth_getFilterLogs. Typically people are using eth_getLogs method and polling to be able to simulate the behav

[2017-10-14 03:06] jdkanani commented on #29
@icaroharry How did you solve this problem then?

[2017-10-14 16:06] jdkanani commented on #30
Looks like this has been fixed.

[2017-10-14 16:06] #30 closed

[2017-10-14 22:48] carlolm commented on #29
@egalano hi can I try out websocket beta also? I am working on a DApp requiring real time event updates. Thanks! carlol@gmail.com

[2017-10-16 13:42] icaroharry commented on #29
@jdkanani I'm working on an alpha version of a DApp, so temporarily I implemented a good old "refresh button" that calls `web3.contract.getPastEvents` :smile:

Now I'm going to test the websockets. Kudos to @egalano

[2017-10-16 15:45] jdkanani commented on #29
@icaroharry Great. And, @egalano what did you change at Infura to solve problem of "installing same filters on all nodes"?

[2017-10-20 13:24] oxy-coin opened #37 "Infura provide WS (websocket) support?"
Like infura providing RPC. are they providing WS support also ? I have developed my Dapp using nodejs so want to user websocket as web3.

[2017-10-20 17:50] icaroharry commented on #37
Duplicate of #29

[2017-10-21 06:55] critesjosh commented on #23
you can use the ipfs-api node package:

https://www.npmjs.com/package/ipfs-api

`var ipfsAPI = require('ipfs-api')

// connect to ipfs daemon API server
var ipfs = ipfsAPI('ipfs.infura.io', '5001', {protocol: 'https'})

        var fileReader = new FileReader()
        fileReader.readAsArrayBuffer(file)

        fileReader.onload = function(){
          var data = fileReader.result
          var b

[2017-10-21 08:09] bshevchenko commented on #29
Hi @egalano, I'd also like to test out the new version! Email is info@bshevchenko.ru

[2017-10-21 21:23] MisterDr commented on #29
Hi @egalano, could you please add me to WS beta at: djenadrazic@gmail.com. Thank you :)

[2017-10-22 15:02] LefterisJP commented on #29
Hey @egalano could I get beta acces to websocket support? lefteris@refu.co

[2017-10-24 01:05] afiorenza commented on #29
Hi @egalano do you have an ETA for this? Thank you.

[2017-10-24 01:05] afiorenza commented on #29
Hi @egalano Do you have an ETA for this? Thank you

[2017-10-24 14:17] oxy-coin commented on #29
Hey @egalano  .. Please send me details also i would love to be alpha tester for this. Thanks. anilbaweja.bx@gmail.com

[2017-10-24 23:00] hbwoodrose commented on #29
i would also love to get some of that sweet websocket access. please add meeee!!!! :D max@daashaus.com

Thanks!

[2017-10-25 09:11] alexey-ernest commented on #29
Hi @egalano I wonna try websocket also. Thanks. alexey.ernest@gmail.com

[2017-10-25 23:34] plachira commented on #29
Hi @egalano Can you please add me in beta testing of WS? binoy@plachira.com Thanks.

[2017-11-01 16:26] eugeneotto commented on #29
Hi @egalano, I'd love to try Infura's websocket transport, as well. Thank you!

[2017-11-02 07:30] litvintech commented on #36
@wuehler @maurycyp may you guys please answer my question?

[2017-11-02 09:00] doraemondrian opened #38 "Best practice for making multiple consecutive requests?"
Hi I'm trying to migrate my existing Dapp I've been testing on testrpc onto Infura, and have come across a couple of questions I hadn't thought of before. Basically I'm trying to:

1. Query a list of all tokens
2. For each token query more metadata
3. Fill out an entire list on the view using the above two results

As far as I know Solidity doesn't support complex object as a return value so I've

[2017-11-02 15:36] nosuchip commented on #29
Hi @egalano, could you please add me to tester pool? nosuchip@gmail.com. Thanks.

[2017-11-04 00:04] #37 closed

[2017-11-04 00:04] egalano commented on #37
Please track this via #29

[2017-11-04 06:38] egalano commented on #32
To close this out, this ended up being a bug in geth 1.6.7 and was resolved after upgrading to geth>=1.7.0 https://github.com/ethereum/go-ethereum/issues/14838

[2017-11-04 06:38] #32 closed

[2017-11-04 06:47] egalano commented on #38
Thanks for checking in with us @doraemondrian . Unfortunately this is a limitation of the current Ethereum JSON RPC API. If there were a more efficient method for querying token data, it wouldn't require as many HTTP requests. The best thing you can do as a client developer is to make use of client-side caching to not pull redundant data too often and also to avoid polling for token balance inform

[2017-11-04 06:47] #38 closed

[2017-11-04 07:10] egalano commented on #31
Hi @wighawag this was due to an issue several months ago where our health checks failed to detect nodes that were falling out of sync when they were under heavy load. In addition to improving our automated scaling, we have since implemented more stringent monitoring to minimize the chance of these types of errors occurring in the future. Our team is going through rapid growth as our traffic has sc

[2017-11-04 07:10] #31 closed

[2017-11-04 07:21] egalano commented on #33
Apologies for the late response @ftppro we don't have a dedicated support team yet but are working on getting a proper support pipeline in place. I'm not aware of a PHP library that supports offline transaction signing like in the libraries that exist for Javascript and Python. If you have found one please share it here for others.

I am not a PHP programmer but this is [a great write up on the in

[2017-11-04 07:21] #33 closed

[2017-11-04 07:22] egalano commented on #7
Closing due to inactivity morden is long dead :)

[2017-11-04 07:22] #7 closed

[2017-11-04 07:28] egalano commented on #5
Since July 2017, transactions submitted via Infura are cached in an off-chain index and periodically re-submitted to the network several times until successfully mined or properly rejected by the network. Additional upstream work by the client teams to avoid transactions being dropped from the local txpool in times of high congestion also helped resolve this issue.

[2017-11-04 07:28] #5 closed

[2017-11-04 07:31] egalano commented on #12
Closing due to inactivity. Please open a new issue if you see this type of error again. 5xx errors from the Infura backend may be for any number of reasons and we should track their occurrences with individual tickets and root causes to provide you with better visibility on the service's historical health.

[2017-11-04 07:31] #12 closed

[2017-11-04 07:31] #13 closed

[2017-11-04 07:31] egalano commented on #22
Closing due to inactivity. Please re-open if this is still an issue.

[2017-11-04 07:31] #22 closed

[2017-11-04 07:33] egalano commented on #15
We have significantly improved and scaled up our IPFS servers in the last few months. Closing this issue for now. Please reopen if this is still an issue for you.

[2017-11-04 07:34] egalano commented on #26
Closing this ticket due to inactivity. @gerstaro if you are still getting those errors please ping us and we can reopen this issue.

[2017-11-04 07:34] #26 closed

[2017-11-04 07:36] egalano commented on #16
Thanks for reporting this @MicahZoltu and apologies for the late response. @maurycyp do you have any objections to this change?

[2017-11-04 07:41] egalano commented on #19
No updates yet. Whisper support via Infura would require offline message signing implemented by the whisper client teams. I'd love to speak with the whisper dev(s) if someone can put me in touch with them.

[2017-11-05 09:21] netpi commented on #29
Hi @egalano Can you please add me in beta testing of WS?  Thank you very much !

[2017-11-05 21:25] okwme commented on #29
Hi @egalano we spoke at EtherealSF about websocket support, is it possible to have access?

[2017-11-08 04:49] dancre commented on #29
Hi @egalano could you please add me to websocket beta testing also? dane.creighton@gmail.com. Thank you very much!

[2017-11-08 08:41] andrewsource147 commented on #29
Hi @egalano  Could you please add me in WS? Thank you very much!
My email: andrew@kyber.network

[2017-11-08 13:04] dlebrecht commented on #29
@egalano can i have access to ws?

thanks

[2017-11-08 17:00] egalano commented on #29
Thanks for your patience everyone. We just sent out out another batch of invites to try this out. If you are already using our wss endpoints please send us feedback on how your experience is going. Thanks!

[2017-11-09 00:57] C0deMunk33 commented on #29
I would also like access please. hollandcodeandgraphics at gmail

Thank you!

[2017-11-09 18:47] amitranjan14 commented on #29
@egalano
 interested in checking out the new api's. would be thankful if you can provide the connection details on the mail id: ameetranjan at gmail dot com

[2017-11-10 00:53] ligi commented on #15
@egalano  should I open another issue for this or can we reopen this one?

[2017-11-10 01:00] egalano commented on #15
We can reopen this one. @ligi I think it might be related to this IPFS issue: https://github.com/ipfs/go-ipfs/issues/4122

On a local IPFS node (not using Infura) I was also unable to pin `QmT9P4zKLFYBPTbP7wYUHCW2AzhBcwvoxSAwRJdbQLXT9E`

[2017-11-10 09:06] andrewsource147 commented on #29
@egalano Does INFURA supports websocket for KOVAN testnet?

[2017-11-10 14:24] dschoeni commented on #29
@egalano: could you send us an invite as well? d.schoeni[ät]papers.ch - very interested in this!

[2017-11-13 01:27] AntonioJuliano commented on #29
@egalano would love an invite to antonio@dydx.exchange

[2017-11-13 20:21] zwalla commented on #29
@egalano would really love to test with this tom@blocktech.com. could you send an invite?

[2017-11-13 21:38] enriquefynn commented on #29
Hi @egalano, can I get an invite? fynn@montelabs.com. Thanks

[2017-11-14 04:46] amitranjan14 commented on #29
@egalano please do share the invites.

[2017-11-16 14:29] tetsuo commented on #29
Can I join too? ogunduz@gmail.com Thank you!

[2017-11-16 20:59] ealmansi commented on #29
Hi @egalano, I'd like to try out websocket support too if possible.
My email is: ealmansi@gmail.com
Thanks!

[2017-11-17 10:29] Matko95 commented on #29
Hello guys, I'd like to test out the new library with our DApp, could I get an invite? mtrifunovski at gmail dot com

[2017-11-17 10:43] tetsuo commented on #29
@egalano Hey! can I get an invite?  ogunduz@gmail.com Thanks!

[2017-11-17 16:39] Hu4F00d commented on #29
HI @egalano I'm doing an app that requires live updates, can I get an invite? mauro@osn.global thanks a lot!

[2017-11-19 01:11] chuacw commented on #29
Hi @egalano Can I get an invite? Scanning blocks for transactions take way too long! chuacw a gmail com

[2017-11-20 14:55] bitpshr commented on #29
Could I please get an invite? paulbouchon90@gmail.com. Thanks!

[2017-11-21 16:36] mrwillis opened #39 "web3.eth.filter and subsequent get exits immediately"
Hi,

Environment:
`"web3": "0.19.0"`
`node`: `8.9`

Trying to figure out what is going on here. I am using `"web3": "0.19.0"` and trying to call some `eth_getLogs` through `web3`. Going through `curl` there are no issues with the infura mainnet but in `web3` it looks like there is something wrong and I can't quite figure it out. Here is my simple code trying to get events from block 3000000 to 300

[2017-11-22 01:19] buhrmi commented on #29
Hello @egalano me too, please: buhrmi@gmail.com

[2017-11-22 13:06] chuacw commented on #39
Infura does not support event filters.

[2017-11-22 13:28] egalano commented on #39
@mrwillis You can't subscribe to events via Infura using the JSON RPC newFilter method which is what that library uses under the hood. You can use the web3 ZeroClient provider which works around that by tracking filters on the client side. https://github.com/MetaMask/provider-engine/blob/master/zero.js
Example here https://github.com/INFURA/infura/issues/10#issuecomment-303878754

[2017-11-22 16:19] artemii235 commented on #29
Hello @egalano. Please send me an invite too: ortgma@gmail.com. Does it work already on main net?

[2017-11-24 17:14] traycho commented on #10
About ZeroClientProvider  is it only for retrieving events. If I try to fire a transaction metamask dialog does not pop up ?

[2017-11-25 07:34] decodedbrain commented on #29
Hello @egalano. Please send me invite to WebSockets Infura access to decodemybrain@gmail.com

[2017-11-25 22:02] sheraz104 commented on #29
Hello @egalano Kindly send me the invitation for infura WS support. sheraz1392@gmail.com

[2017-11-27 02:22] pash7ka commented on #29
Hi @egalano, I would like to try Infura WS support, please send me an invite. pash7ka+infura@gmail.com

[2017-11-28 06:09] DomiDre commented on #29
Hi @egalano are you still searching for beta testers for the web socket support? I would like an invitation homiedomi@gmail.com

[2017-12-01 03:25] cheerfyt commented on #29
Hi there, i want to sync some data (about my contracts) from infura.io to my local db, is there any way to do this? @egalano  can i get an invite? [cheerfyt@gmail.com](cheerfyt@gmail.com)

[2017-12-04 23:07] morphers82 opened #40 "API Help"
I for the life of me can't get the api call to work.
I send a GET request to https://api.infura.io/v1/jsonrpc/mainnet/eth_getBlockByNumber
using application/json for content-type and accept
and i try to fill in the params value but thats where i have no idea what to put in it.
I am using Postman and try something like key: params value: [4000000]  where the BlockNumber =4000000  and i just get thi

[2017-12-05 04:17] comodoro commented on #40
getBlockByNumber has two parameters, see
https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbynumber

Dne 5. 12. 2017 12:07 dopoledne napsal uživatel "morphers82" <
notifications@github.com>:

[2017-12-05 06:02] cavanmflynn opened #41 "web3.eth.blockNumber returning old blocks"
Both web3.eth.blockNumber and web3.eth.getBlock('latest') are frequently returning old blocks on Kovan. It seems that there are a number of nodes out of sync.

Code to reproduce:

[code]

Typical Output:

[code]

[2017-12-05 07:05] sc0Vu opened #42 "Testing in rinkeby and transaction always dropped without reaching chain"
Hi,
I use web3 sendRawTransaction in rinkeby and the transaction always dropped without reaching chain.

Request Params

[code]

Response

[code]

I couldn't get the transaction information on etherscan or web3.eth.getTransaction

How could I fix this@@?

Thanks!

[2017-12-05 16:16] morphers82 commented on #40
Well that worked using a post with the body being the --data part and the url being: https://mainnet.infura.io in postman
However, that in no way shows how to use the api endpoint with the get like it says is supposed be able to happen.  I tried the hex and true values in params in a GET like the api docs suggest with still no luck.

[2017-12-05 18:08] comodoro commented on #40
I tried URL from [their generator](https://infura.docs.apiary.io/#reference/0/v1jsonrpcnetworkmethod/get?console=1) in Chrome and it seems to work:

`https://api.infura.io/v1/jsonrpc/mainnet/eth_getBlockByNumber?params=%5B%220x61a80%22%2Ctrue%5D`

returns something like

`{"jsonrpc":"2.0","id":1,"result":{"difficulty":"0x57a418a7c3e"...`

Haven't you forgotten to check the `params` checkbox? I did

[2017-12-06 03:00] trakout commented on #29
@egalano If websocket support is still in testing, I'd love to receive an invite. Thanks! trakout@gmail.com

[2017-12-06 03:04] pash7ka commented on #29
I've never received any reply to my request, so it seems like this beta testing program is not running.

[2017-12-06 08:46] ertugrulyilmaz commented on #29
Hi @egalano, I would like to try Infura WS support, please send me an invite. ert.yil@gmail.com

[2017-12-07 05:56] farhankhwaja opened #43 "web3.getBlock(blockNumber, true) returns null for some blocks"
This issue has started happening lately. Certain blocks don't get back any information. I have the logs of blocks failed:
[code]
This is happening on the MainNet.

Like the above two there are many examples. web3.getBlock() call returns null. Is the client lagging behind or still updating ancient blocks (as per [this Github Parity issue](https://github.com/paritytech/parity/issues/6334))

[2017-12-08 15:12] doexclusive commented on #29
Hi @egalano , If it's possible please please grant me access to testing of Infura Websockets, my email is denig55amg@gmail.com

[2017-12-08 21:09] Bryan792 commented on #29
If this is still running, I would like access Bryan792@gmail.com Thanks.

[2017-12-09 16:51] FedericoCapello commented on #2
I'm currently testing this sample app https://github.com/ipfs/js-ipfs-api/tree/master/examples/name-api and I would like to use the INFURA ipfs node, however, when I change this line:

`const ipfs = window.IpfsApi('/ip4/127.0.0.1/tcp/5001')`

to this line:

`const ipfs = window.IpfsApi('ipfs.infura.io', '5001', {protocol: 'https'})`

and try to publish a file it gives me first a warning:

and then

[2017-12-09 19:09] xu1guang opened #44 "infura delay"
Hi, I noticed that by using infura endpoint there is a 700 blocks delay on the main net. Is this normal?

[2017-12-09 19:45] egalano commented on #44
It is not @xu1guang we're currently experiencing a service degradation of our blockNumber API. Other parts of the API are still functioning such as eth_call, sending transactions, and event lookups but we're working to bring our blockNumber API back up to date. Sorry for the inconvenience we'll update this ticket once the issue is resolved.

[2017-12-10 02:26] egalano commented on #44
Sorry for the delayed update. Our blockNumber API was restored at approximately 19:00 UTC. Please let us know if you are still seeing significant block lag.

[2017-12-10 02:26] #44 closed

[2017-12-10 02:48] egalano commented on #43
This was a result of heavy load on our RPC nodes. The null is returned when the request is serviced by a node which is lagging by several blocks. The issue was resolved for now but occasional issues like this will occur as a result of heavy load from popular dapps. We are working on ways to stabilize the network in times of heavy load. We'll be writing a blog post soon detailing our architecture c

[2017-12-10 02:51] egalano commented on #39
Closing. Please re-open if you are still having issues.

[2017-12-10 02:51] #39 closed

[2017-12-11 00:07] hermanjunge opened #45 "Connect to Infura IPFS Node"
Reissuing this ticket here https://github.com/ipfs/js-ipfs-api/issues/642

cc @FedericoCapello @diasdavid

[2017-12-11 14:06] vrolland commented on #29
I am also very interested in. But, I would rather not put my email here.

Would be possible to get in touch?

[2017-12-11 14:48] parthi2929 opened #46 "Issue using infura for setter and event handling of deployed contract"
I have a problem using infura for a very simple dapp. I am trying to connect to deployed contract in rinkeby, call its function (setter) and also watch events. But I am always getting Invalid JSON response. the same code works fine in testrpc (ganache-cli) and even via metamask (which in bg, shoudl be using your service). Can you kindly check and let me know what is the issue. Here is the problem

[2017-12-12 01:13] ZhiGuang commented on #29
@egalano Can you send me an invitation? nrobot@outlook.com Thank you.

[2017-12-12 03:38] nguyenngocanhvu commented on #12
I see this error again:
`Error: [ethjs-rpc]  error with payload {"id":3826956800320,"jsonrpc":"2.0","params":["0x47fc03",true],"method":"eth_getBlockByNumber"} Error: [ethjs-provider-http] Invalid JSON RPC response from provider
    host: https://mainnet.infura.io/x8zNd5QYexpI6AHLSh2D
    response:  ""
    responseURL: undefined
    status: 502
    statusText: Bad Gateway`

Is this because of the

[2017-12-13 19:28] eacolina commented on #29
@egalano Can I get access to the beta too? eacolina@uwaterloo.ca Thanks!

[2017-12-18 16:19] Hirama commented on #29
@egalano Can I get access to the beta too? giorkin@gmail.com Many thanks!

[2017-12-19 09:22] fromageblanc opened #47 "testnet api return bad request error"
My application accesses "https://rinkeby.infura.io/myToken" from mobile. The http status will be 400 (bad request).
In the case of private network address, it operates normally.

Please give me a good idea to solve the problem.
Thank you.

Below is the result of running Alamofire's log on the console

OK (end point is Private Net)
[code]

NG (end point is rinkeby)
[code]

NG (end point is rinkeby)

[2017-12-19 17:12] caa1982 commented on #29
Can I get access to the beta please? cyril@2getherbank.com thanks!

[2017-12-23 21:50] wnz99 opened #48 "Infura Kovan seems to be out of sync"
Hi,

I'm experiencing issues when getting an account balance with `eth_getBalance` from Infura Kovan endpoint. The call responds with an out of date balance. I also tried to pass the latest blocknumber as second parameter and got the following error:

`eth_getBalance(["0xc8dcd42e846466f2d2b89f3c54eba37bf738019b","0x4e8bc9"]): -32602: Unknown block number`

This behaviour appears only with recent b

[2017-12-24 07:31] AVVS commented on #32
still happening with gas prices set to 1 gwei based on safe low of eth gas station

[code]

[2017-12-24 16:55] wnz99 commented on #29
@egalano Could I please get access to the beta too? dfava80@gmail.com Thanks!

[2017-12-27 18:02] tritao commented on #29
Hi, can I get access? joao@tritao.eu

[2017-12-27 21:55] johncpalmer commented on #29
Hi, idk if this is getting to spammy at this point but, @egalano I would love access to the beta as well. Want to be able to subscribe to events. Thanks!

[2017-12-28 07:47] cbruguera commented on #12
Are there any rate limits on how frequent calls can be made through Infura?

[2017-12-28 18:49] amaurymartiny opened #49 "Is personal.ecRecover allowed on Infura node?"
Since there are no local accounts on the Infura node, I understand that most `personal_*` methods are disabled.

However `personal_ecRecover` could be allowed?

[2017-12-28 22:39] egalano commented on #49
Someone also asked this recently in gitter. I think it is safe to whitelist personal_ecRecover and support it in our API. @maurycyp any concerns with doing this?

[2017-12-29 00:09] maurycyp commented on #49
That method is easily enabled in our service layer--I can handle that. @egalano you would need to verify that the `personal` namespace is enabled for Geth.

Also, keep in mind that this method is Geth-only. Parity also has a `personal` module, which does not have the `personal_ecRecover` method.

[2017-12-29 00:22] egalano commented on #49
Ah I didnt realize this was geth specific. @amaurymartiny are you trying to do signed message validation? Or do you have a different use case for using `personal_ecRecover`

[2017-12-29 08:24] amaurymartiny commented on #49
I'm using it for signed message verification.

[2018-01-01 19:10] ConnorGutman commented on #29
@egalano If you're still accepting requests for the beta, could I possibly get access at connorgutman@gmail.com? Thank you and happy New Year! 🎉

[2018-01-05 22:20] dellintosh commented on #29
@egalano If you have any extra invitations for the beta testing I'd love to get one as well.  Thank you!

[2018-01-06 13:30] olaf89 opened #50 "Infura is missing events sometimes"
With the same get_logs parameters, different number of events is returned. FromBlock and ToBlock are constant and are in the past. I tested is also agains etherscan API which always returns same result.

Here is reproduced:
https://stackblitz.com/edit/angular-2aowai?file=app%2Fapp.component.ts

[2018-01-07 01:09] adonley commented on #29
@egalano same here, would love beta for this infura feature -> andrewjdonley@gmail.com . Thanks!

[2018-01-08 05:50] capablemonkey commented on #29
I'd also like to help test this! :)  technix1@gmail.com

[2018-01-08 16:40] ryanschneider commented on #29
Hey everyone, Ryan from Infura here.

Two updates.  First off, I'm targeting tomorrow morning (California time) to roll out a new version of our websocket infrastructure.  There shouldn't be any down time, but your existing sessions may time out.

This new version is more scalable, so after it's released I'll post the URLs for all 3 support networks, so you won't need an invite going forward.

Exp

[2018-01-09 13:47] dmitryVonDrake commented on #29
@egalano Hi! I'd also like to test this! dmitry8drak@gmail.com Thanks a lot!

[2018-01-09 17:19] ryanschneider commented on #29
The upgrade will be a little bit delayed but is still happening soon, I'll post here when the endpoints are cut over.

[2018-01-09 18:08] ryanschneider commented on #29
Ok all, the new endpoints are live and are accessible at:

[code]

Again, at-reply me on this issue or create a new one if you run into any issues.

[2018-01-09 19:16] buhrmi commented on #29
Wow, amazing. Thanks so much for providing this...!!!

[2018-01-09 20:15] dellintosh commented on #29
@ryanschneider - first off, thank you for this!
I'm having some difficulties getting the new [batch requests](http://web3js.readthedocs.io/en/1.0/web3.html#batchrequest) to work properly, is that functionality available on these new endpoints?

[2018-01-09 23:11] ryanschneider commented on #29
Sorry for the delay @dellintosh, currently we do not support batch requests.  I'll add it to our road map to see if it's something we can support in a scalable manner.

[2018-01-10 02:33] chuacw commented on #29
@ryanschneider the new endpoints seem to be much much slower than before. Previously, my webpage retrieves data with the endpoint almost instantaneously (in the sense that data is shown so fast, I couldn't even see it crawl on the screen). Now, I can see the data crawling on the screen.

[2018-01-10 02:59] ryanschneider commented on #29
@chuacw which RPCs are you using?  Are these subscriptions or single RPC calls?

[2018-01-10 04:09] maxidev commented on #29
For web3 1.0 usage is there any other RPC url? or we can use: https://mainnet.infura.io/xhy**

[2018-01-10 18:35] gavinmcdermott opened #51 "Non-deterministic results on eth_getLogs RPC call"
Yesterday (evening of 1/9/2018) I was pulling the transaction event log for the contract `0xe120c1ecbfdfea7f0a8f0ee30063491e8c26fedf` and getting non-deterministic results for the total transactions (e.g.: 2603, 2605, 2604, and 2602 on 4 calls respectively). Any reason why this might be happening?

Side note: For a baseline, I had reliable results when comparing against Etherscan.

[2018-01-10 19:30] daniel-van-niekerk commented on #32
Is there a fix for this? The standard gas price is SUPER expensive. 137 Gwei today? I want to manually set this to 22 of something reasonable but Infura rejects it for being to low.

[2018-01-11 19:43] guptapriyank opened #52 "eth_estimategas timeout"
we are trying to estimate the raw transaction, but getting a timeout exception. Timeout problem can be seen if you select INFURA network in myetherwallet, to send all your Ether or any other type of estimation.

[2018-01-12 13:08] tinbka opened #53 "eth_sendRawTransaction returns tx's hash but doesn't get onto blockchain"
Maybe this is not a specific Infura problem but...

I use https://github.com/se3000/ruby-eth to sign transactions, I tested it yesterday on Ropsten https://ropsten.infura.io and it worked just fine.
Now I'm trying to send signed transactions via mainnet.infura.io the same way to the mainnet. It looks like this:

This is the address I'm trying to work with https://etherscan.io/address/0x5c70685d40e

[2018-01-12 19:35] tueric commented on #53
Hi @tinbka. It seems like your nonce value is way off. Generally you can't just use any nonce. I suggest you getTransactionCount before you send a transaction. That function will return your current account nonce.

[2018-01-12 19:37] tueric commented on #48
Hey @wnz99 seems like our Kovan nodes were out of sync. They should be a-ok now.

[2018-01-12 19:45] tueric commented on #47
Hey @fromageblanc. It appears there may be an issue with escaping strings? I will look into it. Meanwhile, you can make it work by replacing `"{\"method\":\"web3_clientVersion\",\"jsonrpc\":\"2.0\",\"id\":\"1\",\"params\":[]}"`  with `'{"method":"web3_clientVersion","params":[],"id":1,"jsonrpc":"2.0"}'`

[2018-01-12 20:01] CineTek opened #54 "getPastEvents does not work anymore"
For the last few days and weeks getPastEvents worked like a charm, but starting today we were not able to retrieve any events/logs from infura - has something changed with the way the node works?

[2018-01-12 21:48] eccheung4 commented on #54
Also have this problem and seeing this error:
[code]

[2018-01-13 01:04] rhlsthrm commented on #29
Getting the following error on Web3 1.0 when I try to call a contract function:

`Error: Returned error: The method eth_sendTransaction does not exist/is not available`

Is sending transactions not supported through the INFURA nodes? I unlocked my account and can sign transactions properly.

[2018-01-13 01:17] ryanschneider commented on #29
No only `eth_sendRawTransaction` is supported.  `sendTransaction` would require us to have access to your private key.  You'll need to create and sign the tx locally and then send it via `eth_sendRawTransaction`.

See: https://github.com/INFURA/infura/wiki/FAQ

[2018-01-13 01:30] rhlsthrm commented on #29
@ryanschneider thanks for the quick response! I'm trying to interact with contracts through raw Web3. I did it through Truffle before with their abstraction, but now I am trying to use raw Web3. I'll have to see if there's a way to do it with the raw transaction.

[2018-01-13 02:03] tueric commented on #52
Hey @guptapriyank. The `eth_estimateGas` method as handled by geth is quite inefficient. We're working on a more efficient implementation right now.

[2018-01-13 02:28] tueric commented on #54
@CineTek @eccheung4 Can you provide more information? Such as the requests you are making

[2018-01-13 02:30] tueric commented on #51
@gavinmcdermott Can you send me the specific request you are making? Makes looking into it a bit easier. Thanks 👍

[2018-01-13 02:35] #53 closed

[2018-01-13 10:49] tinbka commented on #53
Hi @tueric, thanks for that fast reply. I've tried to use the result of getTransactionCount first. So the count was always 0 and it haven't been sitting either.
Then I read on the Stackexchange that nonce must take into account the transactions that are still in the txpool, and I can't say for sure how many of them are there. So I put a relatively large number into nonce (with no help).

[2018-01-13 11:20] CineTek commented on #54
Looks like the problem is that Infura updates Geth which has this bug: https://github.com/ethereum/go-ethereum/issues/15871

[2018-01-13 14:41] guptapriyank commented on #52
Thanks, @tueric, I am waiting for it desperately.

[2018-01-13 15:03] eccheung4 commented on #54
nice find @CineTek thanks!

@tueric I have code that does something like this:

[code]

[2018-01-13 15:12] CineTek commented on #54
Same code except issue on Ropsten using https instead of websockets. Everything worked like a charm and then suddenly stopped working yesterday morning

[2018-01-13 16:49] olaf89 commented on #51
its the same as reported in #50.

[2018-01-13 17:56] sirodoht opened #55 "TxPool methods not allowed"
Hi,

Trying to write code that watches when a transaction happens on my address. I understand the only way to do that with the web3 libs is to poll the current TxPool and check for your address.

I tried to do that by it seems Infura does not allow the TxPool methods. Is this correct?

For reference, this is my code:
[code]

[2018-01-13 21:09] tinbka commented on #53
Well, increasing gas price up to 5 GWei seems to help. Maybe it's just TX TTL that is set quite low and my txes with 1 GWei gas price were eliminated before someone mined them.

[2018-01-13 22:09] CineTek commented on #54
Looks like geth has been updated by infura, everything working fine for me again 👍

[2018-01-13 22:09] #54 closed

[2018-01-14 03:13] davidboom95 commented on #29
Hi, I would like to get Access to web socket url please 👍
davidboom95@gmail.com

[2018-01-14 14:05] mohube opened #56 "Read Events from Blockchain using Infura.io instead of parity"
I have a Script that is reading events from the Ethereum blockchain and want to use infura.io instead of my full parity client. Unfortunately I get the following error as soon as I change the 127.0.0.1:8545 in this code to my Infura.io Access link.

[code]

[code]
Is there anyone who can help?

[2018-01-14 19:24] tueric commented on #56
Which url are you using for Infura? Could you post that without your API token?

[2018-01-14 19:24] mohube commented on #56
I am using https://kovan.infura.io/

[2018-01-14 19:25] tueric commented on #56
Cool. A lot of the times people put http instead of https...
Which request/method is it failing on?

[2018-01-14 19:28] mohube commented on #56
It is failing with https. I tried it with http, but in that case just nothing happens. But the script works without any problem using my parity node via localhost.

[2018-01-14 19:30] tueric commented on #56
Yes, I understand. What im asking is what method is fails on e.g. `getBalance`, `sendRawTransaction`, etc...

[2018-01-14 19:32] mohube commented on #56
var fs = require("fs");
var Web3 = require('web3');

var web3 = new Web3();
web3.setProvider(new web3.providers.HttpProvider('http://kovan.infura.io/'));

var instance = web3.eth.contract();
var mycontract = instance.at();

var events = mycontract.event({}, {fromBlock: '0', toBlock: 'latest'});
events.watch(function(error,event) {

so I cut this snippet out of the code so these are basically all t

[2018-01-14 19:35] tueric commented on #56
I see. So the issue, is that Infura currently doesn't support Events due to the stateful nature of the call. If you really need events, you can try https://pkovan.infura.io.

[2018-01-14 19:37] mohube commented on #56
Oh it is working thank you! But is it stable to use it?

[2018-01-14 19:41] tueric commented on #56
If you want stability, I suggest you use Rinkeby instead. I've seen higher rates of stability on the Rinkeby testnet. Also, we have some websocket endpoints on Rinkeby as well, and that should be more efficient on the client side.

[2018-01-14 19:46] tueric commented on #55
Correct, we don't allow TxPool methods.
Be cautious about trying to monitor contracts using that method. Just because it gets into the TxPool does not mean it has or will be mined.

[2018-01-14 19:54] mohube commented on #56
Alright, thank you very much! I'm going to use Rinkeby instead now

[2018-01-14 19:55] #56 closed

[2018-01-14 19:58] sirodoht commented on #55
Hmm, so what is a better way to check if there are transactions associated with a specific address?

[2018-01-15 06:01] eccheung4 commented on #29
@ryanschneider I'm getting this error when trying to use getPastEvents on the `wss://rinkeby.infura.io/ws`

[code]

Using code similar to this:
[code]

[2018-01-15 06:31] davidboom95 commented on #29
@eeccheung4 same problem here

[2018-01-15 17:00] ryanschneider commented on #29
@eccheung4 what happens if you use a smaller known block range (e.g. the first couple of blocks when you contract was published)?  I'm trying to diagnose where in the stack tis might be failing.

Thanks!

[2018-01-15 17:44] eccheung4 commented on #29
@ryanschneider
contract deployed at block 1168155,
https://rinkeby.etherscan.io/tx/0x532120c88552b3598fccfa113fdccf1b0f3fd52888a9f714f380d8f1984d10cf

I tried setting fromBlock: 1168150, but got same error.

Related issue, but looks to be fixed for ropsten:
https://github.com/INFURA/infura/issues/54

[2018-01-15 18:09] nirmalgupta commented on #52
me too.

[2018-01-15 18:33] ryanschneider commented on #52
This new implementation has just been released on mainnet for all customers, if anyone is still seeing issues on mainnet please at-reply me.

[2018-01-15 18:37] ryanschneider commented on #29
@eccheung4 can you try this endpoint instead:

`wss://rinkeby.infura.io/_ws`

It's not as scalable of an endpoint, but is implemented slightly differently so would help me pinpoint what might be the cause.

[2018-01-15 18:45] eccheung4 commented on #29
@ryanschneider yes, using that endpoint worked as before. I'm not getting that error anymore.

[2018-01-15 19:49] ryanschneider commented on #52
@nirmalgupta do you have the POST body as well?

[2018-01-15 21:43] nirmalgupta commented on #52
Payload:
[code]
Request Header
[code]

[2018-01-16 00:13] ryanschneider commented on #52
We hadn't patched the route that handles batched RPC methods internally, but just did, is it possible you were sending something more like `[{"jsonrpc":"2.0","id":5,"method":"eth_estimateGas","params":[{"data":"0x095ea7b30000000000000000000000005ad853e89ae538a937951d1b43de1046d8536071000000000000000000000000000000000000000000000000000000174876e800","to":"0x0f4ca92660efad97a9a70cb0fe969c755439772c"

[2018-01-16 18:09] nirmalgupta commented on #52
issue has resolved for me after i put `from:userAddress`  in params. Thanks for your help.

[2018-01-16 22:15] ryanschneider commented on #52
Glad to hear it, @nirmalgupta.  @guptapriyank I'm closing this issue since I believe it's resolved w/ our recent changes, but if you still see any issues please at-reply me.

[2018-01-16 22:15] #52 closed

[2018-01-17 21:16] pwrstudio opened #57 "CORS error when calling API"
When calling
`https://api.infura.io/v1/jsonrpc/rinkeby/eth_call?params=%5B%7B%0D%0A%09%09"to"%3A%20"0x737A4FA0eDBcc8c29d74cd2cebA315314E2C608A"%2C%0D%0A%09%09"data"%3A%20"0x6d4ce63c"%0D%0A%09%7D%2C%0D%0A%09"latest"%0D%0A%5D` from a vue.js app I get the following error:
[code]
Accessing the URL in chrome or postman works – and the call from the vue app was working yesterday! In fact, looking at the

[2018-01-18 05:20] whyamiroot opened #58 "Number of transactions per minute"
I am wondering if Infura caps the number of transaction per minute, which can be submitted to Mainnet from one address, using one API key

[2018-01-18 06:29] nieroda commented on #57
app.use(cors());

[2018-01-18 09:01] pwrstudio commented on #57
I am making the call client-side. I suppose one solution would be to proxy the request, but would prefer not to.

[2018-01-18 10:18] DeRain commented on #29
Hello @egalano, could you kindly send me access to ws endpoint? My email kirill.b@smartum.pro - thanks!

[2018-01-18 17:16] eccheung4 commented on #29
@DeRain

Links are public now:
[code]

[2018-01-18 21:07] EvilJordan commented on #49
Did you guys manage to enable this? It's exactly what I'm looking for, too.

Additionally, I understand that geth adds the "magic message" prefix of '\x19Ethereum Signed Message:\n' + strlen(message)+ message, to all signed messages. So this method would only work for other geth-signed messages, unless one pre-pended the message to to be verified before sending to the method, correct?

[2018-01-19 07:55] vaibhavdesai137 opened #59 "Invalid JSON RPC response: """
Hey guys. Just created an infura account and trying to deploy a contract. But I keep seeing [Invalid JSON RPC response: ""] error. What am I doing wrong? I have verified the credentials and they are correct. Please help. Thank you.

**Solidity version:** 0.4.19
**Web3 version:** 1.0.0-beta.27

[code]

Output:

[code]

[2018-01-19 13:48] kenspirit opened #60 "Where to specify the IPFS token when using the IpfsApi?"
![wx20180119-213723](https://user-images.githubusercontent.com/883277/35153477-a344e77e-fd61-11e7-8893-e278a7697217.png)

There are 2 issues:

1. After registered in Infura, the shown IPFS address label is incorrect although the link behind is correct.

2. When I am using the IpfsApi library to construct the client, it's like this:

`window.IpfsApi('ipfs.infura.io', '5001', { protocol: 'https' });

[2018-01-19 17:37] maurycyp commented on #57
Folks, this should be fixed now.

[2018-01-19 18:26] maurycyp commented on #57
Please let me know if you see any CORS issues again.

[2018-01-19 18:26] #57 closed

[2018-01-20 23:37] Alex1100 commented on #5
I am still experiencing this issue today.

[code]

results in ```{
  "transactionChecker": "https://etherscan.io/tx/0x9d396a89f80c477b817c8ea76451a34a730dd27437d93973da0f78a5d23c48cf",
  "serializedTx": "0xf8718689ec9023a45485174876e8008252089409a6737516ba5cdf9f4fe397bc31308a7623a2cc876a94d74f430000801ba025a8a3ab1ba53013ce6c9de0cd9ad19bcd66bfc9819d5e86a127809f6859de90a00f7ae8ebc54e3e2967c98152c3a6

[2018-01-21 01:02] harman666666 commented on #59
I have the same issue aswell

[2018-01-21 21:06] davesumter opened #61 "Data sometimes inconsistent after it has just changed"
I think this is just the normal behavior of multiple nodes synchronizing to a new state, but wanted to check. I sometimes get the wrong data back from infura very shortly after it has changed. Here's what happens:

1) State changes in the blockchain
2) I query Infura and see the new state
3) I query again a few seconds later and see the old state
4) I query again a few seconds after that and see t

[2018-01-21 22:53] tueric commented on #61
Yes, it could be that the new information hasn't been propagated yet to all the nodes in our cluster. Your calls are most likely not hitting the same node.

[2018-01-22 07:43] davesumter commented on #61
Thanks Eric, makes sense..

Are you able to share any high level info here..? Not a problem if you can't..

i.e. Roughly how long do you think it takes all nodes to sync to the latest block? Right now I'm seeing it at just few seconds (maybe 5 to 10 in worst case), but I've only made a handful of tests so can't be sure...

I'll use a back-off timer to allow for syncing..

Thanks

[2018-01-22 20:05] davesumter opened #62 "Rate limits?"
Hi, are there any rate limits for the various endpoints?

Can't find anything published..?

[2018-01-23 05:50] kenspirit commented on #60
Seems like the link issue is corrected in Infura already.  And according to blog [Getting started with INFURA](https://blog.infura.io/getting-started-with-infura-28e41844cc89), IPFS may not need the token for now.  I think I can close this issue.

[2018-01-23 05:50] #60 closed

[2018-01-23 08:47] davesumter commented on #62
Thanks, answered here:

https://github.com/INFURA/infura/issues/58

[2018-01-23 08:47] #62 closed

[2018-01-23 18:29] vaibhavdesai137 commented on #59
Gotcha. Ended up using truffle-hd-walletprovider and that worked. Thanks.

[2018-01-23 18:30] tueric commented on #59
Awesome. Closing issue.

[2018-01-23 18:30] #59 closed

[2018-01-24 11:54] anddorua opened #63 "How to restore access token?"
Hi guys, I don't see any measures on your site to restore my access token. During registration there was some fail or something so i did not get assess token. I try to register again, but site refuses my email saying  it is not unique. Sure, you think I'm registered already, but how do I get my token? I also don't see any mail from you in my mailbox.

[2018-01-24 16:15] ViniciusMarch commented on #63
The same happened to me. But that was my first time asking for a token.

[2018-01-25 05:01] MatthewJWolfe commented on #63
I also lost my access token when the login form timed out

[2018-01-25 07:51] Plinpod commented on #46
Having same issue, did you find a solution here?

[2018-01-25 11:18] cqf539 commented on #63
The same happened to me. But that was my first time asking for a token. WHY?

[2018-01-25 12:52] nasht00 opened #64 "Sign up page error"
When clicking on submit on your sign up form, the form iframe becomes a blank box.

Network traffic shows a 500 Internal server error. I get no email confirmation.

Trying to sign up again says the address is already used. I've already burned 3 of my email addresses trying to sign up, to no avail ...

[2018-01-25 13:14] d0o0 commented on #64
i also meet the same problem.

[2018-01-25 16:06] katastreet commented on #64
same here not even getting any emails and the email address  is unusable now

[2018-01-25 16:28] richburdon commented on #64
Same thing. The link in the internal iframe is broken.

[2018-01-25 16:41] nick commented on #64
The web developer console shows a number of error messages and it seems there is some recurring `console.log('hi')` happening somewhere...

[2018-01-25 19:15] codedplanetuk commented on #64
I have the same problem. I have tried 4 email addresses now. The page just errors and it doesn't send email. It will not let you re-try with the same email once it fails (as it says the email already exists).

![image](https://user-images.githubusercontent.com/1923400/35407404-c24ce382-0203-11e8-8bd6-2dba74742385.png)

[2018-01-25 21:32] wuehler commented on #64
Apologies, we are receiving hundreds of registrations a day and seeing mail being delivered on it as well. In the mean time, please just email infura@infura.io and we will reply with your access key.

[2018-01-26 06:39] solfolango commented on #55
I am using the websocket web3 api to do something similar:

[code]

but sometimes

[code]

fulfills the promise, but data is null or undefined (even that is not consistent. I am not sure, if there's an mistake on my side because I am fairly new to web3 and ethereum in general, or if it's an issue of the infura infrastructure.

[2018-01-26 19:20] nickjuntilla opened #65 "Are you guys blocking google servers from reaching your api?"
I’m using google firebase cloud functions to try to reach your api and it fails. Other services work. I’m just wondering if for whatever reason you have them on a block list?  Thanks

[2018-01-29 22:20] tueric commented on #65
No. We are not blocking Google servers.

[2018-01-29 22:39] egalano commented on #65
I havent used firebase cloud functions yet. Do they have restrictions on egress network traffic? If so, check your network ACL settings. We don't block any source or destination IPs.

[2018-01-30 00:20] nickjuntilla commented on #65
Ok thanks guys! Now I know it's on their end. They seem to be pretty confused about this unfortunately. I'll tell them what you said.

[2018-01-30 09:22] wnz99 opened #66 "Infura Kovan gas estimate transaction error"
Are you aware of any issues with RPC call eth_estimateGas on your Kovan endpoint?

We are using MetaMask in our dapp and since a few weeks gas estimate calls return a transaction error on Infura Kovan.

The above does not happen if we set our own server as a custom endpoint in MetaMask. Therefore it has to be some issue with either MetaMask or Infura Kovan endpoint.

Could you please check?

[2018-01-30 23:01] Leoatstentor opened #67 "post eth_blockNumber returns nothing"
I am trying the tutorial [https://blog.infura.io/getting-started-with-infura-28e41844cc89](url)
The eth_blockNumber method call returns nothing.

`C:\WINDOWS\system32>curl -X POST --data '{"id":1,"jsonrpc":"2.0","method":"eth_blockNumber","params":[]}' https://mainnet.infura.io/jOfeAdgUsr1l2uwZKcYc

C:\WINDOWS\system32>curl -X POST --data '{"id":1,"jsonrpc":"2.0","method":"eth_blockNumber","params

[2018-01-31 20:18] tueric commented on #66
Hey @wnz99! Can you give some more details on what the error was? You mentioned estimateGas, but then you said you got a transaction error. So did the error come from the estimateGas call or some transaction call? Some more info such as the request body or the response would be great

[2018-02-02 00:56] tueric commented on #67
Hi @Leoatstentor. How are you running curl on your Windows machine? Are you using the Linux subsystem?

[2018-02-02 01:30] mbgodsey commented on #64
Checking in, are you still seeing this issue?

[2018-02-02 02:05] Leoatstentor commented on #67
Thanks Eric. Per your reminding, I tried it in ubunto in WSL, it returns
result
{"jsonrpc":"2.0","id":1,"result":"0x4c849a"}

But nothing with windows 10 cmd.exe as administrator.
Nothing from js in a webpage run by http-server in windows 10 either.

On Thu, Feb 1, 2018 at 4:56 PM, Eric Tu <notifications@github.com> wrote:

[2018-02-04 16:39] allquantor commented on #55
@tueric
Any alternative for getting pending tx info?
Linking this here:
https://github.com/web3j/web3j/issues/350
P.S
The parity node on infuranet still do allow the txPool methods.

[2018-02-06 03:15] justinmchase commented on #19
Forgive me for being naieve. But why would it require offline message signing by whisper client teams? It looks like the individual clients can/must create their own keys and use them to sign the messages.

[2018-02-06 13:39] jmiglietta-proxy opened #68 "getaddrinfo ENOTFOUND"
We have a service that uses your api.  It had been running fine for a few days, until this crash (below).  Any ideas on what would cause that?  We are calling:

InfuraApi.prototype.getBlockByNumber = function(blockNumber, includeTransactions) {
        if(includeTransactions === undefined) includeTransactions = true
        const apiCall = `https://api.infura.io/v1/jsonrpc/${this.network}/eth_getB

[2018-02-07 06:11] sp41mer commented on #63
Same problem

[2018-02-07 08:29] MAVRO2 commented on #29
Hi all, i can't connect to infura's websocket

`const provider = 'wss://mainnet.infura.io/ws';
let web3 = new Web3(new Web3.providers.WebsocketProvider(provider))
let contract = new web3.eth.Contract(abi, contractAddress);`

Error: connection not open

[2018-02-07 11:11] rpx81 opened #69 "can't view pending transactions on mainnet"
Hi,

When I call https://api.infura.io/v1/jsonrpc/mainnet/methods a methods for parity_pendingTransactions is displayed, but when I run the GET command to https://api.infura.io/v1/jsonrpc/mainnet/parity_pendingTransactions I receive the below:

{
  "jsonrpc": "2.0",
  "id": 1,
  "error": {
    "code": -32601,
    "message": "The method parity_pendingTransactions does not exist/is not available"

[2018-02-07 22:07] skajake opened #70 "Invalid Call"
I have a contract method which returns 7,000  256 bit numbers.  In rinkeby this method works fine and returns the data as expected. However, on mainnet this call more often than not (but not always) returns an array of 0's.  Admittedly this is a large call, but I am not sure why it is not working.  Can I get verification as to why these calls are failing, and if it is due to the size, what the siz

[2018-02-08 21:58] asghaier76 commented on #57
Is this solved, I am using web3js and using infura as the provider, when I try to watch for an event I receive the same error.

[2018-02-09 10:47] svenpohl opened #71 "Example of eth_call / smart contract - method call / reading ABI constant variables via INFURA?"
Hello,
do you provide an example (curl) of an etc_call?
Thank you!

[2018-02-09 17:51] dylanjw commented on #70
Similarly the following receives "0x" instead of the expected large byte array:

[code]

Contract ABI at `0x90C892a89daf937dD4c150120469c4EB146F164c`

[code]

[2018-02-09 22:40] asghaier76 opened #72 "Error using Infura as web3 provider Error 405"
I am using Infura as the web3 provider however sending a transaction will return this error

Failed to load resource: the server responded with a status of 405 (HTTP/2.0 405)
Error: Invalid JSON RPC response: ""

[2018-02-10 12:14] jdkanani commented on #43
@egalano Getting `null` too often. Any solution?

[2018-02-12 10:25] MAVRO2 commented on #29
Anybody here?

[2018-02-12 17:40] guillembenosa opened #73 "Watching contract events with Infura"
Issue #13 shared the inability to listen to contract events through JSON-RPC calls using Infura a year ago. Does any team member have a suggestion on how to achieve so currently? Thank you so much.

[2018-02-12 18:54] sulliwane commented on #66
you may have forgot to add the ```value: web3.toHex(value)``` parameter to the object input of web3.eth.estimateGas function...you need it if the function called in the contract is payable (note: this is specific to Parity, Geth will not check the value when estimating the transaction cost)

[2018-02-12 23:10] ncocchiaro commented on #48
Still having issues @wnz99? Our Kovan nodes as well as the Kovan network authorities have been stable for some time now.

[2018-02-12 23:23] ncocchiaro commented on #73
We support websocket endpoints on mainnet, ropsten and rinkeby now that allow you to listen to events:

[code]

The alternative would be to call eth_getLogs starting at a block that's relevant to the contract.

[2018-02-13 02:13] egalano commented on #29
@MAVRO2 I'm able to connect fine. Please use this script to test your setup:
[code]

[2018-02-13 07:19] wnz99 commented on #48
@ncocchiaro yes, they seem to be stable now.

[2018-02-13 07:25] wnz99 commented on #66
@tueric the error simply disappeared. It must have something to do with your nodes instability, since it appeared suddenly and I could not replicate it on our Parity nodes.

[2018-02-13 07:42] wnz99 commented on #29
Will Kovan be supported?

[2018-02-13 10:36] egalano commented on #29
We hope to support kovan too. It requires additional development work because the geth and parity subscription APIs are not compatible. Web3js actually only supports the geth subscription api at the moment so that is where we decided to start our efforts.

[2018-02-13 16:45] StarNeit commented on #73
@ncocchiaro , would you please explain more details how to watch contract events?

[2018-02-13 16:48] StarNeit commented on #73
I am using Infura to mint tokens, but I am not able to find a way to confirm whether transaction is succeeded or failed.

`const txhash = "0x5bba2e5cbe643b9a6ccbc5664c737fb411a79e0324c53c4559f081c47e2c6f54";
web3.eth.getTransactionReceipt(txhash).then(txObj => {
     console.log(txObj);
}).catch(err => {
     console.log(err);
})`

Error: Web3ProviderEngine does not support synchronous requests.

[2018-02-13 17:57] ncocchiaro commented on #48
Cool, closing for now then.

[2018-02-13 17:57] #48 closed

[2018-02-13 18:18] StarNeit commented on #29
Hello, everybody.

`const provider = 'wss://mainnet.infura.io/ws';
let web3 = new Web3(new Web3.providers.WebsocketProvider(provider))
let contract = new web3.eth.Contract(abi, contractAddress);

    contract.getPastEvents('allEvents',
        {fromBlock: 0,  toBlock: 'latest'},
        (error, logs) => {
            if (error) console.error(error);
            logs.forEach(log => {

[2018-02-13 20:37] jamboj commented on #29
@egalano,
Hi, thank you for posting the above code snippet - it does indeed work for me and runs without issues for hours.

However, when subscribing for events, I get **Connection dropped by remote peer.** disconnects every few minutes.

My question is:
1) Is this normal/expected?
2) If not, do you immediately see anything wrong with my code or could it be node issue?
3) If yes, how can I handle

[2018-02-13 21:59] ncocchiaro commented on #73
@StarNeit an example of how to use Pub/Sub via websockets to listen for new blocks can be found in https://github.com/INFURA/infura/issues/29 (which as it seems you've found by now) and I'm pasting it below. You should be able to adapt that for logs, following the geth pub/sub documentation at https://github.com/ethereum/go-ethereum/wiki/RPC-PUB-SUB.

[code]

The other issue with Web3ProviderEngin

[2018-02-13 22:04] ncocchiaro commented on #66
There have been issues recently with the Kovan authorities as well as with the ability of clients to sync up the chain (you can see references to this in the Parity release notes as well). After we upgraded our nodes to Parity 1.8.7+ things have improved, if this issue no longer occurs I'm closing it for now.

[2018-02-13 22:04] #66 closed

[2018-02-13 22:54] jamboj commented on #29
debugging a bit more it seems the disconnect happens after exactly 5 mins of inactivity. I.e. no events for 5 mins -> Connection dropped by remote peer

so what's the best way to deal with this when watching a not very active contract?

[2018-02-14 03:39] tueric commented on #71
Here is an example of an `eth_call` from Parity's documentation:
https://github.com/paritytech/parity/wiki/JSONRPC-eth-module#eth_call

[2018-02-14 06:49] StarNeit commented on #73
@ncocchiaro , Thank you for your kind explanation.
But, how can I get transaction list of my own contract?
I only would like to get event of my contract. Is that possible?

[2018-02-14 06:50] StarNeit commented on #54
Anybody here?

[2018-02-14 07:19] StarNeit commented on #29
@ncocchiaro , Thank you.

I solved problem by using getTransactionReceipt. 👍 👍 👍

[2018-02-14 07:19] StarNeit commented on #73
@ncocchiaro , Thank you.

I solved problem by using getTransactionReceipt. 👍 👍 👍

[2018-02-14 07:28] johanherman commented on #54
Hey @StarNeit. Judging by your later comment in https://github.com/INFURA/infura/issues/29 I take it that you got it resolved?

[2018-02-14 07:32] StarNeit commented on #54
Hi @johanherman , it was solved, thank you.

[2018-02-14 12:00] johanherman commented on #23
Hey @bkawk. This is an old issue, but I hope the help you received previously was enough for you to get going. Don't hesitate otherwise to ask again if you need any clarifications or other pointers.

[2018-02-14 12:00] #23 closed

[2018-02-14 12:16] johanherman commented on #40
Hey @morphers82. Hope you got it to work eventually. Otherwise don't hesitate to contact us again.

[2018-02-14 12:16] #40 closed

[2018-02-14 12:26] johanherman commented on #43
Hi @jdkanani. As @egalano was explaining earlier this can happen sometimes. So could you please clarify what you mean when you're saying that you're seeing this "too often"? Weekly? Daily? Hourly? Intermittent during the time period you're referring to, or consistently? For the same block nr, or different ones?

[2018-02-14 12:31] tueric commented on #47
Marking this closed. As there has been no reply for a while.

[2018-02-14 12:31] #47 closed

[2018-02-14 12:33] tueric commented on #72
Can you give more information, such as what RPC method causes the 405 error? A code snippet would help.

[2018-02-14 12:40] tueric commented on #69
We don't support the `parity` specific methods. We also don't provide the `txpool` geth methods either.

[2018-02-14 12:44] johanherman commented on #67
Hi @Leoatstentor. As far as I know in some versions of Windows the default `curl` command will be an alias to some PowerShell command. Ie it will not work as you would expect. You can download a Windows binary from https://curl.haxx.se/download.html (although I'm not sure how well it works in all situations), or run the Linux version, which seemed to work fine for you.

Regarding your other issue

[2018-02-14 12:44] #67 closed

[2018-02-14 12:47] #58 closed

[2018-02-14 13:13] StarNeit commented on #29
Hi, @jamboj

[2018-02-14 13:18] johanherman commented on #68
Hello @jmiglietta-proxy. `getaddrinfo ENOTFOUND` is (as you can interfere by the stacktrace) typically thrown when you can't resolve the hostname. It is hard to tell exactly what went from in this situation, but some of your upstream DNS providers could e.g. have been experiencing temporary problems. I understand that Nodejs can also throw this in other situations such as e.g. incorrectly made fun

[2018-02-14 13:18] #68 closed

[2018-02-14 15:23] guoyi03 opened #74 "can't view transactions on mainnet"
i have useing eth_sendrawtransaction function to send txs to infura mainnet, first  some txs are confirmed  quickly, but others can't view  on mainnet.

Are there any rate limits on how frequent calls can be made through Infura?
Thank you!

[2018-02-14 17:28] ncocchiaro commented on #73
Great, let us know if you have other issues.

[2018-02-14 17:28] #73 closed

[2018-02-14 17:29] jamboj commented on #29
Hi @StarNeit,

My solution (although incomplete) is to subscribe to blocks like in @egalano's example above: this keeps communication with the peer up, however it is not bulletproof (i.e. if there's no blocks for 5+ mins, it will still disconnect) and also doesn't address a more general question of handling any disconnects/resubscribing.

Hope this helps, let me know if you have any follow up ques

[2018-02-14 17:51] egalano commented on #29
Hi guys now that our websocket support is live I’m going to close this ticket so it doesn’t become a monolithic bug tracker for subscriptions. Please keep filing issues if you encounter them and we’ll take care of deduplicating tasks for our devs. Let’s start with creating a separate ticket for the issue where people are encountering websocket timeouts as that requires implementation of ping and p

[2018-02-14 17:51] #29 closed

[2018-02-14 18:34] Leoatstentor commented on #67
Thanks Johan.

On Wed, Feb 14, 2018 at 4:44 AM, Johan Hermansson <notifications@github.com>
wrote:

[2018-02-14 18:48] tueric commented on #74
Hey @guoyi03, we do not currently rate limit.
Can you give me an example of a transaction hash that you've seen drop recently? Also, are you sending these transaction in quick succession?

[2018-02-14 22:33] asghaier76 commented on #72
Hi Eric

So this is done in Ionic using Angular to make things clear, as I run this
in the browser with MetaMask it works but once I run it without MetaMask I
start to see this

Here is a snippet

if (typeof web3 !== 'undefined') {
    web3 = new Web3(web3.currentProvider);
  } else {
    // set the provider you want from Web3.providers
    web3 = new Web3(new Web3.providers.HttpProvider("
https:/

[2018-02-15 20:07] ericxtang commented on #29
Question - should we add our own tokens to the URL?  I know it doesn't work right now, but what can we expect about that?

[2018-02-16 00:21] ryanschneider commented on #29
We will eventually provide a separate method for authenticating your account with web sockets, but haven't fully decided on the implementation yet, in the mean time no, you do not need to include your token on the URL.

[2018-02-16 00:58] blargity commented on #12
I'm seeing what looks like rate limiting on `getBlockByNumber` as well. If there are limits it'd be great to know what they are so I can avoid them on my side.

[2018-02-16 03:23] tueric commented on #72
I see. The reason this is happening is because if you don't use MetaMask, you don't have an account to deploy from. `web3.eth.defaultAccount` will not return to you an account. This is because Infura does not store your keys... So when you try to get your account and then try to make a transaction, it will not work.

[2018-02-16 10:41] jamboj opened #75 "web3 1.0.0-beta getPastEvents fails on mainnet with infura websock if no filter specified"
[code]

I get below error for the above code, unless I specify a filter:

Seems to be related to data size.. is this expected, any suggestions on working around this?

[2018-02-16 11:39] guoyi03 commented on #74
Thank you very much.
Such as  the transaction hash:  0xb1c37ba6f54f2018daa976559c48b42cd5f72b73673ac99ba1fae1fa5496e7c8
I have send these txs one by one,  but after the first few success txs,  the others seems success( the transaction hash returned), but not viewed  in blockchain.

[2018-02-16 12:00] asghaier76 commented on #72
Hi

I have already set the default account using

  $rootScope.web3.eth.defaultAccount = DEFAULT_ACCOUNT;

But I suspect that since I am not signing any transaction that could be the
case. If so, how can I from the app call the contract function

Ahmad

On Thu, Feb 15, 2018 at 10:23 PM, Eric Tu <notifications@github.com> wrote:

[2018-02-16 15:54] alexprut opened #76 "Supported JSON-RPC methods"
Is this list https://github.com/INFURA/infura/blob/master/docs/source/index.html.md#supported-json-rpc-methods still valid or it is outdated?

[2018-02-16 17:58] jamboj commented on #75
similar closed issue: [#54](ttps://github.com/INFURA/infura/issues/54l)

[2018-02-17 00:06] requilence commented on #29
Do Infura's WS endpoints have some limitations?
Looks like it just unexpectedly closes connection when I send a message **>4096bytes**
This is doesn't depends on the method (_eth_call_/_eth_estimateGas_/_eth_sendRawTransaction_)

The same calls succeed using the non-ws HTTPS RPC

[2018-02-17 00:10] requilence opened #77 "WS endpoints limitations?"
Do Infura's WS endpoints have some limitations?
Looks like it just unexpectedly closes connection when I send a message >4096bytes on `wss://ropsten.infura.io/ws`
This is doesn't depends on the eth method (eth_call/eth_estimateGas/eth_sendRawTransaction)

The same requests succeed using the not-ws HTTPS RPC.

[2018-02-17 00:38] ryanschneider commented on #77
If the RPC request sent is invalid the connection will be closed.  Can you include an example?  There shouldn't be any limits based payload size but if you have an example of one we can determine if that's the cause or something else.

[2018-02-17 00:39] ryanschneider commented on #77
Oops sorry didn't mean to close, just reply :)

[2018-02-17 06:18] requilence commented on #77
I was able to extract the JSON-RPC message.
But the problem is when I tried to sent it with any chrome-based debugger it succeed.
I used Charles-proxy to debug and found that actual Websocket messages are equal but Chrome uses compression (sets `Sec-WebSocket-Extensions: permessage-deflate; client_max_window_bits`).
Other geth-based clients(as in my case) doesn't uses compression for websocket.

`

[2018-02-17 07:54] requilence commented on #77
Confirmed. When I increase JSON payload so it still more than 4096 bytes when compressed the INFURA server behavior is the same – it unexpectedly closes the connection.

Here is the large payload: [gist](https://gist.githubusercontent.com/requilence/b67590241124634eb026a466f6d7ff51/raw/a197a72ce9be41516ad08fa12aeeef0b6b70ee34/gistfile1.json)

[2018-02-17 09:05] StarNeit opened #78 "Error: Invalid JSON RPC response: """
Error: Invalid JSON RPC response: ""
4|bwcoin_p |     at Object.InvalidResponse (/var/www/xxx/node_modules/truffle-hdwallet-provider/node_modules/web3/lib/web3/errors.js:35:16)
4|bwcoin_p |     at XMLHttpRequest.request.onreadystatechange (/var/www/xxx/node_modules/truffle-hdwallet-provider/node_modules/web3/lib/web3/httpprovider.js:115:32)
4|bwcoin_p |     at XMLHttpRequestEventTarget.dispatchEve

[2018-02-17 15:38] egalano commented on #78
What RPC call were you making with this can you show us your code?

[2018-02-20 05:10] wangzhen10 opened #79 "Unexpected 0 returned"
I have a contract method which should return a not 0 number. But recently, it always returns 0x0000000000000000000000000000000000000000000000000000000000000000. Does anyone have any idea why this happens? Any comments will be appreciated!

[2018-02-20 16:59] russdirks commented on #63
Same for me.  Would be nice if you had a 'retrieve token' feature on your web site.

[2018-02-20 17:23] ryanschneider commented on #77
Currently we do limit the *uncompressed* size to 64k (65536 bytes) per message, it looks like your payload is actually almost 128k.  Can you break that up into multiple smaller calls?

[2018-02-21 06:53] vijaytabhatt commented on #73
@StarNeit  can you please tell me how did you solve by getTransactionReceipt?
I am writing a contract where listing to events in my contract is very important
how do we listen to our custom events using websocketprovider?

[2018-02-21 07:01] vijaytabhatt commented on #56
@tueric  are events supported by infura ?
if yes . do we need http provider or websocket provider ? we are currently using rinkeby and then wish to move to mainnet

[2018-02-21 07:50] woniesong92 opened #80 "Websocket connection closed"
Following up on this issue: https://github.com/INFURA/infura/issues/29
What's the best way to prevent "Connection closed" happening for a websocket?

[2018-02-21 08:25] vijaytabhatt commented on #46
@parthi2929 @Plinpod  any solution on this?

[2018-02-21 08:45] Plinpod commented on #46
@vijaytabhatt I got what I need to work by using https://pmainnet.infura.io/ as my provider

[2018-02-21 09:13] woniesong92 commented on #80
the connection closes with the message: `connection not open on send()`

[2018-02-21 15:32] woniesong92 commented on #80
@egalano from the server side, is `pong()` supported?

AFAIK the client side should just do something like this, right?

[code]

[2018-02-21 18:29] ncocchiaro commented on #76
This is still largely up to date for JSON-RPC, with the exception of the whisper (shh_) methods that are not supported at this time. The up to date list for the REST API can always be found for example via this call (and is/will be available on our API docs which are being revamped on our website):

[code]

[2018-02-21 18:46] alexprut commented on #76
Thanks 👍 It would be nice to have this list on the API docs on the https://infura.io/ website. I assume one day the methods will be listed there :)

[2018-02-21 23:02] ncocchiaro commented on #76
They will be. I believe this is @captDaylight's plan as well.

[2018-02-22 19:10] zerostatic opened #81 "IPFS No 'Access-Control-Allow-Origin' header"
I'm getting error: Failed to load https://ipfs.infura.io:5001/api/v0/add?pin=true: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin

This has been working fine in the past

[2018-02-23 02:40] tueric commented on #79
Hey @wangzhen10.
Can I get what RPC methods you are calling? More specifically, the payload would be good.

[2018-02-23 02:41] tueric commented on #71
Closing issue. If you have any more issues, comment here.

[2018-02-23 02:41] #71 closed

[2018-02-23 02:42] tueric commented on #72
Yeah. You will need to sign your own transactions. You can sign using https://github.com/ethereumjs/ethereumjs-tx.

[2018-02-23 02:42] #72 closed

[2018-02-23 02:48] tueric commented on #64
Closing because no reply. Looks like its been fixed as well.

[2018-02-23 02:48] #64 closed

[2018-02-23 02:51] tueric commented on #70
Hey it looks like you are hitting the gas limit.
[code]

[2018-02-23 02:52] tueric commented on #50
Gunna close this since its a duplicate of #51. Future updates will be there.

[2018-02-23 02:52] #50 closed

[2018-02-23 02:53] tueric commented on #76
Closing as question was answered. :)

[2018-02-23 02:53] #76 closed

[2018-02-23 02:56] tueric commented on #55
We are working on TX pool visibility. Allowing txpool methods make things a bit complicated since they can are different for every node due to p2p propagation delays and we load balance.

[2018-02-23 03:33] moskalyk commented on #81
Is the public Infura IPFS node down?

[2018-02-23 03:43] zerostatic commented on #81
It seems to be working fine again

[2018-02-23 05:43] ncocchiaro commented on #81
We had issues with our IPFS gateway today that may have manifested in this way (and others). We believe them to be resolved and are monitoring our service, however we can reopen this issue if the problem happens again.

[2018-02-23 05:43] #81 closed

[2018-02-23 23:50] turbolent opened #82 "JSON-RPC calls return invalid JSON"
Some JSON-RPC method calls randomly return invalid JSON. The server responds with status code 200, `Content-Type: application/json`, but the body is just `invalid host specified`. For example, using HTTPie:

[code]

This happens about 1 out of 10 times.

[2018-02-24 00:07] egalano commented on #82
This was an error that we encountered with version 1.8.x of geth being rolled out. It should have been resolved within our system. We'll take a look at this immediately

[2018-02-24 02:16] ncocchiaro commented on #82
This should now be fully resolved, let us know if you see it again.

[2018-02-24 03:42] #82 closed

[2018-02-24 20:38] akhanubis opened #83 "eth_getLogs randomly returning status code 200 with body equal to "Invalid host specified""
Hi,

Network: ropsten
The issue first appeared on 2018-02-24T07:31:27.166256+00:00.

I'm running a background worker that makes sendAsync calls with the method eth_getLogs via MetaMask provider engine (using only Filter and Rpc subproviders), and the script keeps crashing randomly when the RpcSubprovider instance tries to parse the response received (body == "Invalid host specified" according to s

[2018-02-25 20:33] elie222 opened #84 "Using promises with web3 with Infura"
I switch between using local Geth and Infura. With Geth web3 promise style works fine. With Infura it doesn't work.

How can I get my code to be compatible with both?

[2018-02-25 22:05] ncocchiaro commented on #83
This is an issue we had due to an incorrect deployment. We were able to fully resolve it on mainnet, but as it looks like not yet on the other networks. We're on it.

[2018-02-26 03:04] tueric commented on #84
Hey @elie222, can I have a look at what you are trying to do? We don't have the ability to enforce whether you use promises or not... A code snippet might allow me to help you fix things.

[2018-02-26 05:27] wjmelements opened #85 "Probabilistic SyntaxError in eth_getLogs"
Occasionally, I see this error in the logs.
[code]

[2018-02-26 05:32] egalano commented on #85
Which network is this against?

[2018-02-26 05:32] wjmelements commented on #85
Rinkeby

[2018-02-26 05:37] egalano commented on #85
I’m actually in the process of fixing this error on rinkeby this is related to #83 it should be resolved in a couple of hours once the update is pushed and I’ll notify you on this ticket. Thanks for your patience.

[2018-02-26 21:57] benjohnson2001 opened #86 "403 error on "ipfs pin ls" command"
I'm trying to see the pinned hashes of the node, but I don't seem to have permissions. Is this expected behavior?

[code]

[2018-02-26 23:50] ncocchiaro commented on #86
We don't allow certain portions of the API on the gateway for security reasons, though we're in the process of revamping that setup. Do you have a particular use case that requires listing the pinned hashes?

[2018-02-27 01:06] benjohnson2001 commented on #86
I wanted to see if I could use the Infura IPFS node instead of hosting my own, based on https://github.com/INFURA/infura/issues/15 it looked like I could. Although I guess if that were true then anyone could just "ipfs pin rm" them so maybe I would be better off running my own.

[2018-02-27 01:33] ncocchiaro commented on #86
We're working on a user-based authenticated service where you'll have more control over the items you pin to local storage and you'll be able to list and remove them, avoiding the danger of just anyone doing it. This is unfortunately not yet available, but we'll send out an update on all our communication channels as soon as it is.

[2018-02-27 01:42] #86 closed

[2018-02-27 04:16] kirillDanshin commented on #83
hi @ncocchiaro @egalano @tueric @johanherman

does anybody got an update on this issue?

[2018-02-27 04:41] egalano commented on #83
Apologies for the delay @kirillDanshin. The issue should be resolved. Are you still seeing errors?

[2018-02-27 07:11] akhanubis commented on #83
It's fixed for me, thanks!

(Not sure if I should close this or not)

[2018-02-27 07:18] egalano commented on #83
Thanks for the ack @akhanubis . I'll close this for now. Please re-open if anyone encounters similar issues

[2018-02-27 07:18] #83 closed

[2018-02-27 07:18] egalano commented on #85
The update was rolled out earlier today, tested and verified. Please open a new issue if you encounter any errors. Thanks.

[2018-02-27 07:18] #85 closed

[2018-02-27 07:19] egalano commented on #80
@woniesong92 I feel like this is something the web3.js client should handle for you so you dont explicitly have to do this in your code. Would you be interested in collaborating on a PR?

[2018-02-27 11:05] endziu commented on #63
same here. login page says: email is not unique and I didn't receive any email.

[2018-02-28 04:34] wjmelements opened #87 "eth_getLogs no longer gets log events from new blocks with to:pending"
Last week, I could get new events as they happen by providing to:'pending', but this seems to be no longer the case.
[code]
I am on Rinkeby.

I believe this may be related to #85. cc @egalano

[2018-02-28 04:39] wjmelements commented on #85
I haven't seen this issue since the update.

[2018-02-28 16:46] johanherman commented on #43
Closing this issue for now. Don't hesitate to reach out if you've got further comments about this @jdkanani.

[2018-02-28 16:46] #43 closed

[2018-02-28 18:21] fxsecltd commented on #78
Same case, on call to eth_sendTransaction server returns status 405, then web3.js returns invalid JSON RPC response. What is the reason?

[2018-02-28 18:46] ryanschneider commented on #78
@fxsecltd We don't support `eth_sendTransaction` since that requires us to have your private key.  You need to use `eth_sendRawTransaction` instead.

[2018-02-28 21:53] ncocchiaro commented on #45
@FedericoCapello we've made improvements to our gateway and this issue should be fixed, as the original poster can you please verify that it no longer occurs for you?

[2018-03-01 01:38] wjmelements opened #88 "eth_newFilter: Invalid JSON RPC response: """
[code]

web3.version is 0.20.2

http provider is https://mainnet.infura.io/x6jRpmEj17uLQR1TuV1E

[2018-03-01 01:45] wjmelements commented on #88
also happens on 0.20.5

[2018-03-01 01:51] wjmelements commented on #87
I have also tried `to:latest` and `toBlock`

[2018-03-01 02:41] ryanschneider commented on #88
I believe this was related to a service interruption we were experiencing, can you confirm if you're still seeing the issue?

If you are, we need the RPC payload that was sent (the POST body) to debug the issue.

Thanks.

[2018-03-01 02:42] wjmelements commented on #88
This is still occurring. How can I obtain the payload?

[2018-03-01 02:43] wjmelements commented on #88
[code]

[2018-03-01 02:45] wjmelements commented on #88
Also fails with `fromBlock:0x0`
[code]

[2018-03-01 02:52] ryanschneider commented on #88
Ah, I see.  We don't support eth_newFilter on our endpoints, see the supported RPC methods here:

https://github.com/INFURA/infura/blob/master/docs/source/index.html.md#supported-json-rpc-methods

We do have experimental support for filters in our websocket endpoints, see https://github.com/INFURA/infura/issues/29

Specifically the websocket endpoints are at:

[code]

[2018-03-01 02:52] #88 closed

[2018-03-01 02:53] wjmelements commented on #88
Okay. It's supported by Metamask. Do they use the websocket endpoints?

[2018-03-01 03:20] wjmelements commented on #88
I'm not on web3.js 1.0 so I can't use websockets. I'm curious what metamask does since I thought they used infura.

[2018-03-01 03:43] wjmelements commented on #88
I can workaround by requerying the logs with xmlHttp.

[2018-03-01 08:33] jchittoda commented on #29
We are building an app @ ETHLend.io that would require Log Event listening. I saw that people have submitted their email ids to test WebSocket beta. Here is my email jitendra@ethlend.io if some info you think I should know. I see most of the information is already shared here. If something is not shared, please do shoot me email.
I am planning to use Web3j Java library as I am writing Java applica

[2018-03-02 16:19] srameshr opened #89 "Web3 behaves different on the client and server with different providers"
I'm trying to read a mapping storage variable from blockchain. Below, are my attempts, from client and server. Testing on Rinkeby network.

<b>From client:</b>
Metamask is installed and I'm trying from the browser console. Web3 version is 0.2.x.

[code]
It works. The key does exist on the Rinkeby network.

<b>Attempt from server:</b>
Please note, that web3 version is ```1.0.0-beta.26``` and I'm us

[2018-03-02 19:39] jamesmorgan commented on #45
Just tested and seems to work, only a basic `add` call on a directory e.g. https://ipfs.infura.io/ipfs/QmVro4TDR5bFkrVGa8zC4xdNNjdYXAcNqAGg9b8Xv643oP

* node version `"ipfs-api": "^18.1.1"`
* sample usage:
[code]

[2018-03-04 16:02] FedericoCapello commented on #45
It seems I can't publish, when I try to publish it gives me the following errors:

[2018-03-05 05:48] fxsecltd commented on #78
Thank you for hint. now I can send raw transaction without problem. but no one from my transactions still did not appeared in etherscan (last test transaction hash is 0xa26401c8dd8e31a2e2de475b81a129b92434bb68bd5019a7ab701b550c6f6c2d - it has gasPrice:40GWei,gasLimit:1000000 parameters, but still did not appeared). If it has some problem inside, please, hint me.

[2018-03-05 05:54] fxsecltd commented on #78
Same transaction with increased till 80GWEi
0x675e759f47253d1100043c24bd10161cb0a98d1e294a1dd1feaf68e34d0327a0
still did not appeared

[2018-03-05 06:36] fxsecltd commented on #78
Same transaction passed via myetherwallet via infura.io - 23 seconds confirmed
0xa640d2837a084fdd982cb55afa31d4f2ae970bcb599eaf46dccfe18653e354ad

[2018-03-05 06:36] fxsecltd commented on #78
only 10 GWEI and 1.5M gas limit

[2018-03-06 01:41] tueric commented on #89
Hey @srameshr. Looks like you've figured it out. Looks like a web3js issue in 1.0.

[2018-03-06 01:41] #89 closed

[2018-03-06 14:41] sulliwane commented on #73
@ncocchiaro is kovan ```wss://kovan.infura.io/ws``` on the roadmap?

[2018-03-06 17:28] ncocchiaro commented on #73
We plan on adding support for the Parity pub/sub interface (all the existing websocket endpoints are backed by Geth), at that point it's possible we'll add a Kovan endpoint. In the meantime if you require a PoA network and don't strictly require Parity my suggestion is to try Rinkeby.

[2018-03-06 17:40] sulliwane commented on #73
Thanks for the update. One more question, it seems the websocket interface doesn't implement non pub/pub methodes (like getBlock()...) I suppose it's by design ?

[2018-03-07 00:26] tueric commented on #79
Gunna close this issue due to lack of reply. Please comment here and "@" me if there are any other issues.

[2018-03-07 00:26] #79 closed

[2018-03-08 05:44] 5310 commented on #15
Can we get an update on this please?

I tried to pin the following hash (a static site with eight files totaling 45kB,) with the API, but it timed out as well. (A simple 66B text file did pin just fine.)

The upstream issue ipfs/go-ipfs#4122 was supposedly fixed in December, slated to release with IPFS 0.4.14 which only just hit release-candidate, but I myself had no issue pinning that hash remote

[2018-03-08 17:58] ncocchiaro commented on #15
We're in the process of pushing a number of updates to our IPFS nodes and an upgraded version of go-ipfs will be part of that. I'll update this issue as soon as this is done.

[2018-03-09 00:01] jmiglietta-proxy commented on #84
Write a wrapper

Sent from my iPhone

[2018-03-09 10:39] elie222 commented on #84
Hi, thanks. So we did end up using wrappers. We were already in most
places, but in some we weren't which caused the issue.

On 9 Mar 2018 02:01, "jmiglietta-proxy" <notifications@github.com> wrote:

[2018-03-09 13:37] asymmetric opened #90 "WebSocket Origin Header"
Hi,

I'm trying to access the WebSocket endpoint using geth's [rpc package](https://github.com/ethereum/go-ethereum/tree/master/rpc), but the subscription call stalls indefinitely.

Is the `Origin` header validated in any way, similar to [Parity](https://wiki.parity.io/Configuring-Parity)'s `chrome-extension://*`check?

[2018-03-09 16:42] Derek-yfqiu opened #91 "Web3 connecting INFURA failes for Parity methods"
Currently I have an issue in connecting INFURA to the Web3.js that uses Parity methods. My idea is to use INFURA as client node for a ETH explorer https://github.com/gobitfly/etherchain-light, in order to avoid downloading many GB of chain data through Parity. What I did is to assign INFURA as provider to web3 as follow:
provider = web3.providers.HttpProviders("https://mainnet.infura.io/MYTOKEN")

[2018-03-09 20:26] tueric commented on #91
That header is not in use anymore. Sorry for the confusion. We will update the docs to reflect that. We currently do not support those parity specific methods.

[2018-03-09 20:41] Derek-yfqiu commented on #91
Thanks for the reply! It is a pity that Parity is not supported any more. I would be very interested to know whether there are some more activity regarding parity.

[2018-03-09 20:43] tueric commented on #91
We do support Parity. For example we have parity running on Kovan.
We just don't support those parity specific methods just like how we don't support the debug api on geth. We are actively doing research on ways we can support those calls in a scalable and reliable way.

[2018-03-09 23:59] #91 closed

[2018-03-10 00:06] ryanschneider commented on #90
No, we do not limit access based on the `Origin` header.  Can you post some code snippets so we can see exactly how you're using the rpc package to connect?  Have you tried other RPCs than subscriptions, I'd like to confirm that it's actually getting past the `Dial` stage.

[2018-03-12 00:21] noprom commented on #29
Hi, do you all solve your problems?
I also encountered this problem:
[code]

It works fine for `wss://ropsten.infura.io/ws` but `wss://mainnet.infura.io/ws` will throw this error.

[2018-03-12 02:24] Plinpod commented on #29
I'm having the exact same issue as @jamboj does anyone have a solution here?

[2018-03-12 14:41] ericxtang commented on #29
Yeah we had that problem too.  We ended up adding retry logic in our software - here the PR https://github.com/livepeer/go-livepeer/pull/320/files

[2018-03-12 16:03] asymmetric commented on #90
It turns out that [this](https://github.com/ethereum/go-ethereum/issues/16299) was the problem: I was making calls using `newBlocks`, which seems to have been deprecated in favour of `newHeads`.

[2018-03-12 16:03] #90 closed

[2018-03-12 18:49] habdelra commented on #29
@noprom @Plinpod have you tried using the `_ws` endpoint? like `wss://mainnet.infura.io/_ws`?

[2018-03-12 18:59] Plinpod commented on #29
@habdelra I did switch to the _ws endpoint and it seems more stable for me, however I do still get the same issues after it runs for awhile.

@ericxtang So with web3, I would basically just re-initialize the events everytime they error out?

[2018-03-13 15:40] ericxtang commented on #29
@Plinpod haven't tried in web3, but that seems reasonable (if initializing the event actually establishes a new connection).

@habdelra What's the difference between `/_ws` and `/ws`?

[2018-03-13 15:54] ryanschneider commented on #29
`/_ws` is our older endpoint that forwards straight to geth.  It's only suggested if you requiring batch support, and only then until we get batch support implemented in our proxy at `/ws`.

In general, you should code your websocket connection with the expectation that you will lose connectivity at some point and need to re-establish your subscriptions.  Whether using our shared endpoint or your

[2018-03-13 19:00] tueric commented on #84
Awesome! Sounds like you fixed it. Was the issue that you tried to use promises in Web3? AFAIK, they dont have promises in pre-Web3 1.0. They do have promises in Web3 1.0 though.

[2018-03-13 19:57] elie222 commented on #84
I don't remember exactly now but I think we were doing get accounts as a
promise with web3 1.0 and then tried to do the same with pre 1.0 which
didn't work.

I don't fully understand why switching provider causes these changes.
Surely it only matters to our own client if we use promises or not and that
shouldn't have changed whether I was connecting to  local geth node or
infura?

In any case we g

[2018-03-13 20:49] tueric commented on #84
Yeah. Whether you use promises or not should not concern Infura at all.
Anyways, glad you figured it out! Closing issue.

[2018-03-13 20:49] #84 closed

[2018-03-14 06:26] sanshao commented on #74
The same problem:

transaction hash:

0xc14385b9366a9522c54ab689a8ce76e39e96388fac072fda1cffcdbf8f9aedf3
0xca1f91bd7b61b00d7bc97689a4172e720d679ee5e66fd60723ce5364ca326304

[2018-03-15 09:42] demisstif commented on #78
when I use truffle and truffle-hdwallet-provider to migrate, there is the error
http://truffleframework.com/tutorials/using-infura-custom-provider
I don't know why,  @egalano

[2018-03-15 10:28] demisstif commented on #78
I found when I use proxy in terminal, then it works!!!

[2018-03-16 10:58] guix77 commented on #29
Looking forward for progress on this

[2018-03-17 07:38] dc1996226 commented on #78
@demisstif dow did it work? can you show me ?

[2018-03-17 07:58] dc1996226 commented on #78
@demisstif can you help me , and tell me more

[2018-03-17 20:21] johnhforrest opened #92 "web.eth.Contract support?"
The documentation isn't clear to me so I this seemed like the next best place to look for an answer--please redirect me if there's a better place for me to ask.

We're using the web3.js 1.0 beta and creating a web3.eth.Contract object locally to interact with our contract.

I checked the /v1/jsonrpc/network/methods endpoint to see if `getPastEvents` is supported but it's currently not listed. Howe

[2018-03-19 23:47] tueric commented on #92
The docs you were referring to is to our Rest endpoints. But yes, we do support that function in our websocket endpoints. We are in the process of making our docs better and that will be released soon. To my knowledge and please let me know if im wrong, but in Web3, the getPastEvents is just a wrapper around the `getLogs` RPC command, as there is no getPastEvents RPC command in the clients.

[2018-03-19 23:48] tueric commented on #92
For Web3 1.0 docs, I'd just look at the official Web3 docs for that.

[2018-03-20 00:21] johnhforrest commented on #92
Thanks for the quick reply. You're right, I took a look at the web3.js source code and it's just a wrapper on `getLogs`, so that answers my original question.

To be clear, I'm not connecting to the websocket endpoint, just the HTTPS RPC endpoint sent in the original registration email. The only reference I found of the websocket endpoints was in #29 and not in any official documentation. Do you r

[2018-03-20 00:24] tueric commented on #92
Ah. I'm not sure why I thought you were using the websocket endpoints haha.
I'd use the websocket endpoints if I were listening to events. The advantage is that you need not poll for new events. You will get em pushed to you instead.

[2018-03-20 00:24] tueric commented on #92
The downside is that it is still in "experiemental" or beta mode right now and therefore there may be bugs.

[2018-03-20 00:28] johnhforrest commented on #92
No worries. Thanks for the info Eric!

[2018-03-20 00:28] #92 closed

[2018-03-21 09:10] airenqingqing opened #93 "你们网页注册好难呀"

[2018-03-21 17:38] tueric commented on #93
Could you please provide more information as to why it is hard to register?

[2018-03-22 10:50] seik opened #94 "Nonce value taking into account pending transactions"
Hi, when sending a rawTransaction the nonce is usually calculated with eth_getTransactionCount which doesn't take into account pending transactions.

As there is no way to access the TxPool, what's the best way to calculate the nonce taking into account pending transactions on infura?

[2018-03-22 13:40] Freydal commented on #75
I am having a similar issue, but the error messages I am seeing is 'on WS'(as expected)

I am currently working on Ropsten with web3 1.0.0-beta.31.  I have tried both the /ws and /_ws endpoints.

My current implementation is very similar to the following:

[code]

I am using the same instance object to successfully subscribe to events when the getPastEvents is commented.

[code]

I am having issue

[2018-03-22 19:33] Freydal commented on #75
I think I have confirmed that this is tied to the size of response.  I was able to successfully get a successful response with no options.

[2018-03-24 02:33] ryan-rowland commented on #29
I'm working on a WebSocket provider for MetaMask's Web3 1.0 provider (https://github.com/MetaMask/provider-engine/pull/227)

Running against `wss://ropsten.infura.io/ws`, `wss://rinkeby.infura.io/ws` and `wss://mainnet.infura.io/_ws` I'm getting normal behavior, a dropped connection every few minutes or so which is manageable.

However, on `wss://mainnet.infura.io/ws` I'm getting disconnected with

[2018-03-26 10:45] Greatsamps commented on #12
Same here, either infura is over-loaded or there is rate limiting in place. Seeing API calls taking 20+ seconds, then bit late whole bunch reply at once.

[2018-03-26 15:39] ryanschneider commented on #29
@ryan-rowland Can you open a separate issue instead of commenting on this closed one?  Please include some logs of RPC traffic that show the issue, specifically any traffic sent before the disconnects and the full JSONRPC payload for the `1006` error you are seeing.  Thanks!

[2018-03-26 17:30] egalano commented on #29
Hi folks, as mentioned above, we now support Web3js-1.0 subscriptions via websockets. If you are having any issues with our websocket feature please file a separate issue so we can better track and get it resolved. Locking this thread to keep things organized. Thanks!

[2018-03-26 22:18] JCSanPedro opened #95 "Error: Failed to check for transaction receipt"
Not sure if this is an error with web3 or the http provider, but I'm seeing this error whenever I use the PromiEvent feature for sending transactions.

Example:

[code]

After a few seconds, I see the transactionHash event occur, then eventually the confirmation and receipt event as well. The transaction does actually go through, though a few seconds after receiving the confirmation, I get this er

[2018-03-27 00:22] egalano commented on #90
![](https://github.trello.services/images/mini-trello-icon.png) [Define a policy and implement a process for cleaning up IPFS snapshots](https://trello.com/c/VTfv2dVH/32-define-a-policy-and-implement-a-process-for-cleaning-up-ipfs-snapshots)

[2018-03-27 03:47] chris-peng-1244 opened #96 "Listening to Contract events works randomly"
I am using the web3js 1.0.0-beta.33's Contract api to listen to the ERC20 Transfer events.

[code]

The code worked fine on start, but stopped working(No long catch any events in spite of all the transactions I sent) after random time elapsed.

Is it possible that the websocket disconnected because of some Internet issues?

[2018-03-27 16:43] litvintech commented on #36
@mbgodsey are you going to opensource ferryman?

[2018-03-27 19:06] mbgodsey commented on #36
We have no plans to open source Ferryman at this time.  We will announce if those plans change.

[2018-03-27 19:06] #36 closed

[2018-03-28 01:07] ncocchiaro commented on #45
Thanks for your patience. I think the issue is clearer to me now, and it has to do more with how we don't expose the /name API at the moment, rather than with CORS per se. We'll discuss internally about plans to open this up, also in light of the recent improvements to IPNS.

[2018-03-28 01:08] ncocchiaro commented on #15
Thanks for your patience. We hit a small snag with the upgrade but should be able to move forward with it tomorrow.

[2018-03-28 20:34] joemendel77 opened #97 "Are WebSockets production ready?"
In the past day or so, I've been testing out Infura websocket endpoints at

`wss://mainnet.infura.io`

for Web3 1.0 compatibility. It seems that it's randomly disconnecting, does not support long running subscriptions (like for example subscribing to events generated by a contract), and some methods like `getBlock()` are not working.

**Can we get some clarity on the state of Infura WS?**

FWIW, t

[2018-03-28 22:19] ncocchiaro commented on #15
We've updated to 0.4.13 and I was able to pin the hash you provided successfully. We'll do more testing on 0.4.14, which was just released, before we update to that version.

[2018-03-29 03:58] 5310 commented on #15
Hurray! It's working.

I also upgraded to 0.4.14 today and turned on the new pubsub feature. Everything's working fine so far, and hopefully that sticks.

Looking forward to the authenticated API extensions from INFURA :]

[2018-03-29 23:25] ebadiere commented on #86
Is there an update on this?  I tried to rm a pinned hash through infura today and was not able to.  I was able to do it using my local daemon.

[2018-03-30 00:00] ncocchiaro commented on #86
No update yet. This is a work in progress but it will take some time to fully complete development and roll it out to production. For the moment we're still disallowing pin removal for the reasons outlined above.

[2018-04-02 14:00] walfridosp commented on #73
I'm trying to use:

[code]

But I'm getting the following error:

As per the documentation: https://web3js.readthedocs.io/en/1.0/web3-eth-subscribe.html#subscribe

Can I pass an Array of addresses instead of a single address?

[2018-04-03 07:59] microdesign opened #98 "Some problems"
First of all, I cant understand why I can re-login with the same email but this is another topic.

When I start to set up my account on choose network I see only Not found pages and cant finish my setup with your system.

What must I do?

[2018-04-03 18:14] igi888 commented on #97
I am having the same problem.

But for me, even the `wss://mainnet.infura.io/_ws` endpoint stopped working. I am using it for subscribing to events in order to show the UI realtime. It was reliable for at least a month for me, until a few days ago when it stopped working totally.

I am also grateful for the great work the Infura team does!

[2018-04-07 00:20] jamespic opened #99 "CORS not available on JSONRPC"
Connections using CORS to https://mainnet.infura.io are failing, because `OPTIONS` requests are getting `405 Method Not Allowed`. `POST` requests are working as expected.

[code]

[2018-04-12 18:02] ncocchiaro commented on #15
We're now on 0.4.14 and aren't seeing problems. I'm going to close this issue for now, and we can open a new one if anything else comes up.

[2018-04-12 18:02] #15 closed

[2018-04-12 21:22] dangell7 opened #100 "WebSocket connection is closed: code = 1006 (connection closed abnormally [internal]), no reason"
When I try to connect to 'wss://ropsten.infura.io/ws/' I get the following error

`WebSocket connection is closed: code = 1006 (connection closed abnormally [internal]), no reason`

To clarify, do I need to include my Infura Key in the domain?

Also, this 'wss://ropsten.infura.io/_ws/' works just fine

[2018-04-13 04:14] TTroia commented on #93
需要梯子

[2018-04-13 04:54] 5310 opened #101 "IPFS: Enabling WebSocket (and WebSocket Secure) for js-ipfs (Brower) Interoperability"
If it's an acceptable use-case, I would like to request interoperability between `js-ipfs` (browser) nodes and the Infura node.

At the moment, the only way `js-ipfs` browser nodes can connect to `go-ipfs` nodes is via WebSocket. go-ipfs does support the WebSocket transport as is, if enabled in the config. The current Infura `go-ipfs` node [only configures](https://ipfs.infura.io:5001/api/v0/id#)

[2018-04-15 13:33] esocode opened #102 "Support strings for JSON RPC id attribute"
The Infura JSON RPC API currently only supports numeric (integer) IDs for the `id` attribute of RPC request and returns a 400 when using strings.The JSON RPC specification explicitly allows number or string values and both geth and parity implement that accordingly. This could cause confusion for developers that want to migrate their code to use the Infura backend.

[2018-04-16 12:28] jtakalai commented on #54
I'm getting this suddenly today. Could it be related to response size from getPastEvents? Something like that is suggested in #75

[2018-04-17 13:06] flute commented on #97
same to me
I tried use `wss://mainnet.infura.io/ws` and `wss://mainnet.infura.io/_ws` both. I am using it for subscribing latest transaction. It just works well at first minutes, then lose connect `Error: CONNECTION ERROR: Couldn't connect to node on WS.`

[2018-04-17 13:12] LiorRabin opened #103 "Watching contract events and getting block timestamp"
Hello,
I'm using the infura as websocket provider to watch for contract events. I also need the timestamp of the block for each event, but when I query for `getBlock` immediately after event has been fired I sometimes get `null` as block.

`
MyContract.events.MyEvent({}, (err, eventData) => {
  const block = await osseus.wallet.web3.eth.getBlock(eventData.blockHash)
  console.log(block.timestamp)

[2018-04-17 21:13] tueric commented on #103
Does this happen EVERY time? Or just some of the times? This is because your getBlock request may be loadbalanced to another node that hasnt received that block yet.

[2018-04-17 21:18] LiorRabin commented on #103
This happens quite often, not every time.
For now I just retry the getBlock request every 1sec for 5 times but this also doesn’t always help.
Is there a way to have a “sticky” sessions so I won’t get loadbalanced?

[2018-04-18 02:46] Plinpod commented on #96
Having same issue the websocket is disconnecting in the background but its not catching on the event. You can tell if you loop

`web.eth.net.isListening()`

[2018-04-18 02:49] Plinpod commented on #97
Same issue here. Losing connection randomly

[2018-04-18 06:07] ncocchiaro commented on #101
Interesting, it's not something we offer at the moment, as you noted, but certainly something we can look into.

[2018-04-18 13:47] aaronkendall commented on #97
Having similar issues here, randomly dropping connection on `wss://rinkeby.infura.io/_ws`, especially if an increased amount of events start to come through. Can't even use the `wss://rinkeby.infura.io/ws` endpoint to see if that's any better (anyone able to confirm?) but I that's a web3 issue to be fair.

[2018-04-18 17:44] MeoMix commented on #103
I also experience this issue, but it seems more insidious than just failing to determine block numbers. The entire state of a dApp can be 'stale' to a user who initiated an action if they refresh and the dApp loads state from a node which isn't privvy to the action they just took (yet).

[2018-04-19 08:27] allemanfredi opened #104 "Connection to infura testnet via WebsocketProvider"
I'm trying to connect to infura testnet via web socket but the connection remains blocked.
I read a conversation in which there is explained that websocket are actually supported but i'm not be able to solve this issue.

`const web3 = new Web3(new Web3.providers.WebsocketProvider('wss://rinkeby.infura.io/ws'))

var subscription = web3.eth.subscribe('logs', {
    address: '0x8789497B837437632143efF

[2018-04-19 17:37] MeoMix commented on #12
I'm also seeing this, but I don't think I'm overloaded in any way. Website has little-to-no traffic, end point worked a moment ago, but now I'm getting 502 on wss://mainnet.infura.io/_ws/

[2018-04-19 21:59] rhlsthrm commented on #73
If you want to watch contract events, use this API: http://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#contract-events

[code]

[2018-04-19 22:58] MeoMix commented on #104
No, they are not production ready yet, but soon(tm).

http://status.infura.io/ will have websocket providers added to it when they are production ready

[2018-04-19 22:59] MeoMix commented on #104
Infura's websockets aren't quite production ready yet, but they will be soon. As of writing, they're having some trouble and appear to be down for me.

http://status.infura.io/ will have websocket providers added to it when they are production ready.

[2018-04-19 23:01] MeoMix commented on #97
Infura's websockets aren't quite production ready yet, but they will be soon.

http://status.infura.io/ will have websocket providers added to it when they are production ready. For now, assume that the endpoints will go up/down as they work on the architecture.

MetaMask provides a polyfill for subscription support. This is probably your best bet if you're trying to go to production now.

[2018-04-20 07:53] allemanfredi commented on #104
Is there a way to test the code that i wrote? maybe by using the mainnet since i have only to get the pending transactions?

[2018-04-23 08:16] k06a commented on #100
@dangell7 thanks for pointing on `wss://ropsten.infura.io/_ws/`

[2018-04-23 13:36] allemanfredi commented on #104
I'd like to don't run a local node. Do you know if exists another way to get a pending transaction to an address? In practise i'm trying to get the pending transaction to an address in order to get the hash and after checking it by using getTransactionReceipt().

[2018-04-23 20:52] sprusr commented on #19
Anything come of this?

Provided that support for offline signing was implemented in the Whisper client, and something along the lines of an `shh_sendRawMessage` RPC endpoint added, would the Infura team be interested in adding support for it?

Would really love to get the ball rolling on this, especially with Whisper v6 out recently. Although I'm a bit lost as to where to take this conversation!

[2018-04-24 06:05] CruiseMan opened #105 "Batch request limitation ?"
I can't find any information here http://web3js.readthedocs.io/en/1.0/include_package-core.html?highlight=batch#batchrequest on batch request limitation. In particular i'm creating batch request to return ~1300-1500 transactions receipts on Ropsten network and getting `Invalid JSON RPC response {}`.

[2018-04-24 06:59] mnoster commented on #97
I can't wait until they get the wss stable. Such a useful service for the future development of dapps.

[2018-04-24 09:00] jleeh commented on #78
I'm getting the bang same issue using the `HDWalletProvider` in truffle. I've tried updating the dependancies to the latest versions, re-checked everything.

I've not actually seen this work for me since I moved to use Infura, I'm going to keep trying and post any thing I find.

[2018-04-24 13:59] Gujjar95 commented on #74
I am also facing the same problem, I am getting a tx-hash response but can't see on etherscan and also transaction not happening on the blockchain.

[2018-04-24 20:08] egalano commented on #78
Hey @jleeh im going to try to reproduce this issue and see if I can help figure out what the issue is.

[2018-04-24 22:10] jleeh commented on #78
I've found the issue, typically it was a very simple one! I didn't remove the "from" within ropsten when migrating over to use the Infura in my truffle.js.

[2018-04-26 14:35] elie222 commented on #103
Same issue for us. Listening to events and then calling getBlock will sometimes return `null`.

[2018-04-26 14:36] elie222 commented on #97
Agreed. Can't wait for this to be production ready. Constantly getting:
`CONNECTION ERROR: Couldn't connect to node on WS.`

[2018-04-27 06:40] jasoncodingnow commented on #78
the same error.
Happened when I try to connect to infuro ropsten('https://ropsten.infura.io/'), I am using web3@0.20.6 , then watch contract event.

`
const ethereumUri = 'https://ropsten.infura.io/';

let web3Provider = new Web3.providers.HttpProvider(ethereumUri);
let web3 = new Web3(web3Provider);

//initContract
let OracleAPI = fs.readFileSync(__dirname + "/../build/contracts/OracleAPI.json");

[2018-04-27 06:41] jasoncodingnow commented on #78
any idea?

[2018-04-28 05:25] AmitShah commented on #17
This is a problem still!

[2018-05-01 09:18] #99 closed

[2018-05-06 22:50] jasham opened #106 "block-chain transaction issue with infura POST 405/Invalid JSON RPC response"
Hello,

I am working on a chrome extension which takes data from block-chain and display in chrome content-script also when user click on that data one transaction happen which will increase the count in block-chain.

I have used react-redux for chrome-extention.

I am able to retrieve data from block-chain please check the below code.

[code]

But the problem is coming in performing transaction.

[2018-05-06 23:11] lakamsani commented on #97
Hi, for those using Infura websocket provider do you have to supply your API key in the url like we do with the http provider i.e.https://rinkeby.infura.io/<api-key>? If so what is the format? Or is the WS provider only for reading/listening to events so there is no need for an API key?

[2018-05-10 00:33] libreoscar commented on #103
Same issue for us. Stickyness is critical for consecutive related calls like `eth_getTransactionReceipt` immediately after `eth_getTransactionByHash`.

[2018-05-14 09:09] mrzxy opened #107 "eth_sendRawTransaction returns tx's hash but doesn't get onto blockchain"
![image](https://user-images.githubusercontent.com/11501927/39988298-9390d63e-5799-11e8-93cd-01271e9fddb0.png)

[2018-05-14 18:16] soundreactor opened #108 "gas estimation fails on expensive contract functions"
im using Infura with web3.py to estimate gas  for contract function transactions.
at first i thought its was a web3 problem: https://github.com/ethereum/web3.py/issues/845

this works fine for functions that require ~50000 gas

however Infura seems block estimation for functions that require more gas for example ~300000

can i increase the limit? is this desired behavior ?

[2018-05-16 23:58] tueric commented on #108
No, this is not desired behaviour nor is it something we've encountered yet... It would be useful if you could give us the request your are trying to make. The error message would be awesome too.

[2018-05-17 00:00] tueric commented on #107
The global Ethereum transaction pool was very clogged up. It is not really something we can do. :(

[2018-05-17 00:01] tueric commented on #106
Looks like you're trying to make a transaction. Do you have your private key imported properly in your JS app? I ask because we dont host keys on our machines for security purposes, so methods like `sendTransaction` will not work.

[2018-05-17 00:46] jasham commented on #106
Thanks Tueric.

[2018-05-19 05:32] mrzxy commented on #107
Can I improve gas to solve this problem? @tueric

[2018-05-20 20:26] j10sanders opened #109 "nonce too low"
Hello,

I am trying to publish my contract on the mainnet, using Truffle.  I'm able to use Infura to publish to Ropsten, but when I try to publish to the mainnet, I get this error:

`Error encountered, bailing. Network state unknown. Review successful transactions manually.
nonce too low`

Any suggestions?

[2018-05-21 00:35] Plinpod opened #110 "Ropsten Websocket Down?"
Hello,

The last view days I have not been able to make a websocket connection to the ropsten testnet.

`wss://ropsten.infura.io/ws`

I am getting continuous "Connection dropped by remote peer" errors. It was working more or less fine about 2 days ago. Anyone else running into the same issue?

Thank

[2018-05-21 12:49] gus-canya commented on #45
@jamesmorgan may I see the code for this `ipfs.add` demo?

[2018-05-22 18:17] j10sanders commented on #109
Thanks @jamatulli .  Yes, I was able to migrate later.

This seems to be a pretty serious bug, imo, since **I did have to pay the gas fee.**

Thanks for your help.

[2018-05-22 18:17] #109 closed

[2018-05-22 19:11] kasperfish opened #111 "Best practise for calling balanceOf many times for different addresses"
Hi,
I need to get the token balance of 100K addresses. What is the best practise for doing that? atm I'm getting invalid rpc responses after a few seconds. I'm using web3js.

[2018-05-22 20:01] jamatulli commented on #109
@j10sanders I see that you mentioned it on Gitter that you were successful.  The issue seems to be getting attention from the Truffle crew.

After a little more research I see related problems referenced in that are being addressed as well.  Hopefully these will be solved in an near future release, perhaps with the incorporation of Web3 v1.0.0 event emitters into contract deployment.  I will try t

[2018-05-23 13:47] jamesmorgan commented on #45
@gus-canya sorry for the poor example but we use it like this:
[code]
We use node 8+, INFURA and have used IPFS extensively with our erc-721 assets and its working brilliantly

[2018-05-24 14:50] jamatulli commented on #111
Just to clarify, you are able to get a few balances successfully but then start getting an invalid rpc response errors correct? Can you share the code that you are currently using?

[2018-05-24 14:57] jamatulli commented on #110
@Plinpod is this only for Websocket and only on ropsten?

[2018-05-24 15:03] tueric commented on #110
Should be up and running. Are you still having issues?

[2018-05-24 15:05] tueric commented on #107
Theoretically, it should help. I can't say by how much, because again there are a lot of pending txns. How much are you using anyways?

[2018-05-24 16:16] PaulRBerg commented on #32
Gas 60,000 and price 1 finney, it still didn't work. Opened an issue here: https://github.com/ethereum/web3.js/issues/1656

And full log output [here](https://www.dropbox.com/s/yydng4hhxnfdhjr/ethrereumjs-tx-0.0.5.log?dl=0).

[2018-05-25 08:28] morelazers commented on #49
I'm also interested in this feature, I can't seem to get ethereumjs-utils to work for a long message.

[2018-05-25 22:17] JeeChoi commented on #110
I just ran a couple tests on wss://ropsten.infura.io/ws. It seems to be running fine. Are you getting dropped when actively using the websocket connection or when it's idle?

[2018-05-26 09:34] Plinpod commented on #110
@JeeChoi It seems to be almost immediately as soon as I make a connection.

[2018-06-01 06:29] onepiecelyk commented on #78
[code]
Error: Invalid JSON RPC response: "" when I use node to run this code

[2018-06-01 06:30] onepiecelyk commented on #78
[code]
Error: Invalid JSON RPC response: "" when I use node to run this code

[2018-06-01 06:32] onepiecelyk commented on #78
[code]
Error: Invalid JSON RPC response: "" when I use node to run this code

[2018-06-01 19:48] bsin1 commented on #111
This may not be directly related, but I am running into a similar issue with the rest API.
Currently I am making ~650 requests (in parallel) to https://api.infura.io/v1/jsonrpc/mainnet/eth_call
The first ~15 requests succeed, but the remainder fail with a connection error: Could not resolve host: 'api.infura.io'

[2018-06-02 09:49] kasperfish commented on #111
sorry to get back to this so late... I solved the issue by implementing concurrency so only a set amount of requests are fired at the same time.

[2018-06-05 14:47] joaomacp opened #112 "Ropsten out of sync?"
web3.eth.getBlock('latest') is returning erratically: sometimes it returns 954056, other times 3377682 (which seems more correct)...

I think this was working fine before (up to yesterday). Is there any other way of getting INFURA's latest block number?

Happening on https://ropsten.infura.io

EDIT: 5 minutes later, it seems to be OK again.

[2018-06-05 14:52] #112 closed

[2018-06-05 15:39] tueric commented on #112
There seems to be issues on Ropsten in general right now. https://github.com/ethereum/go-ethereum/issues/16884

[2018-06-07 12:54] zoeleesss opened #113 "ERROR with infura & web3j on Android 4.x : javax.net.ssl.SSLException: Connection closed by peer"
My Java code:

[code]

Error Info:

[code]

I am using Android 4.4.2 and 4.3 devices, and there are errors of
`javax.net.ssl.SSLException: Connection closed by peer`

I googled this, somone says https (TLS) via okhttp is not supported on Android 4.x devices. And can be solved with some extra codes.
The solution can be found here: [javax-net-ssl-sslexception-connection-closed-by-peer-on-4-4-2-devic

[2018-06-07 12:56] zoeleesss opened #114 "ERROR with infura & web3j on Android 4.x : javax.net.ssl.SSLException: Connection closed by peer"
My Java code:

[code]

Error Info:

[code]

I am using Android 4.4.2 and 4.3 devices, and there are errors of
`javax.net.ssl.SSLException: Connection closed by peer`

I googled this, somone says https (TLS) via okhttp is not supported on Android 4.x devices. And can be solved with some extra codes.
The solution can be found here: [javax-net-ssl-sslexception-connection-closed-by-peer-on-4-4-2-devic

[2018-06-07 20:54] ConnorGutman commented on #19
Any updates from the dev team regarding Whisper? It's been quite some time since this issue was originally opened, and it remains unclear where INFURA stands now that offline signing has been implemented.

[2018-06-07 21:06] ConnorGutman commented on #55
Any updates on TX pool visibility? 😄

[2018-06-09 20:05] miguelmota commented on #19
Whisper support on infura would be awesome, looking forward to this

[2018-06-11 19:22] eacolina commented on #45
Just to be clear, as of now publishing a name to IPNS would not work through INFURA nodes since the latests IPNS improvements?

[2018-06-12 00:31] ncocchiaro commented on #45
We do not support the /name API on the public endpoint, so publishing to IPNS via that API through Infura would not work. This may change in the future, but we don't have detailed plans on this yet.

[2018-06-12 00:31] #45 closed

[2018-06-12 03:47] shessenauer commented on #64
This is still an issue, unable to just 'sign in' without going through several emails.

[2018-06-13 14:38] saitam1 opened #115 "Error: `Invalid JSON RPC response` when running estimateGas on Infura"
I am getting an error when doing a gas estimation on infura:

[code]

This is the error:
[code]

[2018-06-13 14:52] ryanschneider commented on #115
The provider should be https.

[2018-06-13 15:27] saitam1 commented on #115
Thank you, now it works!

[2018-06-13 16:09] marknguyen85 opened #116 "RuntimeError: Error code 400 on request when send transaction"
I'm trying to send transaction
my code here

[code]
then error respose

[code]

Please help me.

[2018-06-13 16:19] ryanschneider commented on #116
Seems like a bug in your web3 library, `params` should be an array, like this:

[code]

See: https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sendrawtransaction

If sending a proper JSONRPC the request succeeds fine for me:

[code]

[2018-06-13 16:19] #116 closed

[2018-06-13 16:35] marknguyen85 commented on #116
thanks for supported

[2018-06-14 07:36] tcsiwula commented on #73
Hey @ncocchiaro ! Long time no see :D Is there still no support for a truffle-kovan endpoint from infura?! Thanks man, hope you have been well~

[2018-06-14 15:54] ncocchiaro commented on #73
Hey @tcsiwula, we have the RPC endpoint at https://kovan.infura.io/YOUR_API_KEY but not yet a websockets endpoint for Kovan.

[2018-06-15 16:14] majestic84 commented on #55
Bump — also curious when this will be made available.

[2018-06-15 20:30] aj0strow commented on #95
I'm also getting this error.

[code]

[2018-06-16 16:45] etherace commented on #110
@JeeChoi My Ropsten websocket  wss://ropsten.infura.io/ws runs fine but appears to drop the connection when it goes idle for a period of time. Does Infura close connections after a period of time and any way to prevent this?

[2018-06-16 17:33] etherace opened #117 "Websockets drop connection after period of inactivity? Is this a valid fallback/fix?"
Hey all,

I'm using Infura's wss://ropsten.infura.io/_ws Ropsten websocket to listen to events from my contract server-side. I've noticed it works great until a period of inactivity. Then I get the error which points to the websocket dropping the connection:

2018-06-16T16:15:04.200899+00:00 app[web.1]: /app/node_modules/web3/packages/web3-providers-ws/node_modules/websocket/lib/W3CWebSocket.js:11

[2018-06-16 17:35] robinagist commented on #100
i'm having the same problem with ganache-cli and ganache-gui.  previous application using web3.js 1.0 works fine with both using websockets.

[2018-06-17 17:36] marknguyen85 opened #118 "RuntimeError: No method found in ABI: transfer"
I'm try get data to send erc20 token to address ether and my code here

[code]

then get error

[code]
ERC_ABI json refer below

https://jsoneditoronline.org/?id=cca09246f62f4f25ae8e04c53ec3eb5e

pls help me, thanks all

[2018-06-18 07:51] marknguyen85 commented on #118
I found the cause of the error, Abi must be formatted string instead of array
ex
ERC_ABI = []

format to => ERC_ABI = '[]'

[2018-06-18 07:51] #118 closed

[2018-06-18 10:18] JeeChoi commented on #110
@etherace You may be hitting the idle timeout on our load balancers. The timeout is already set to max (over 60 minutes). Hope this helps!

[2018-06-18 14:48] simon-jentzsch opened #119 "Invalid JSON-repsonse for block in the future"
If I run this request (which asks for a blocknumber in the future) :
[code]

I would expect a response with `result:null` . (At least this is what my local parity gives me.). But calling this returns:

[code]
Since this response has not result and no error-property web3 is correctly throwing and identifying this as invalid JSON-Response.

[2018-06-18 15:51] etherace commented on #110
@JeeChoi Okay that makes sense then. I may set up a system to 'ping' the websocket once every our to try and refute this! Thanks for your clarification.

[2018-06-18 17:00] marknguyen85 opened #120 "RuntimeError: Function transfer is not constant: transfer, requires to sign transaction"
i'm try transfer my erc token and code below

[code]

then get error

`RuntimeError: Function transfer is not constant: transfer, requires to sign transaction`

pls help me

thanks much.

[2018-06-19 07:42] voratham commented on #110
I have the same problem in using web3js 1.0.0 beta 34  make a websocket connection 'wss://ropsten.infura.io/ws'

How to solve with a solution other?

![screen shot 2561-06-19 at 14 43 30](https://user-images.githubusercontent.com/30921472/41583449-b603211c-73ce-11e8-95bf-597d0ebba010.png)

`import Web3 from "web3";
const provider = new Web3.providers.WebsocketProvider(
  "wss://ropsten.infura.io/w

[2018-06-19 15:30] ryanschneider commented on #110
@voratham that's a different issue, it's a bug in recent web3js releases.  See:  https://github.com/ethereum/web3.js/issues/1559

[2018-06-20 00:47] jamatulli commented on #120
@marknguyen85 Assuming you are following the ERC20 Token Standard than you would use:

`contract.transfer(address to, uint tokens)`

Documentation for this is [here](https://theethereum.wiki/w/index.php/ERC20_Token_Standard).

However, you can not simply transfer without a signed transaction because you are changing the contract state.  The first part of the error (which is being produced by the R

[2018-06-20 05:31] jamatulli commented on #119
Confirmed. Infura networks respond with
`{"jsonrpc":"2.0","id":1}`

Running command against local Ganache(Docker) gives
`{"id":1,"jsonrpc":"2.0","result":null}`

Got the expected result from the JSON-RPC API using GET method
`curl --include --header "Content-Type: application/json" --header "Accept: application/json" 'https://api.infura.io/v1/jsonrpc/kovan/eth_getBlockByNumber?params=%5B%220x18564

[2018-06-20 16:37] jamatulli commented on #42
@sc0Vu I see this has been open for some time and wonder if you found a solution.

[2018-06-20 18:03] jamatulli commented on #78
For those using truffle this was apparently fixed with version 4.1.9. Truffle issue [here] (https://github.com/trufflesuite/truffle/issues/852)

[2018-06-21 04:15] gburtini opened #121 "Infura is (currently) really slow."
We have noticed in the last 48 hours huge amounts of latency on the infura nodes we're reaching. For example, we're seeing between 300ms and 1000ms time-to-first-byte (note, the rest of the response takes approximately 2ms; very fast).

Is there a status page or somewhere we can evaluate the load?  This status page: https://infura.io/status reports average load times, showing 350ms currently, but

[2018-06-21 05:35] egalano commented on #121
Thanks for reporting. Our monitoring isn’t seeing an increase in latency on our edge network. Are you seeing this delay on all rpc requests or only certain methods? Also from what geographical region are your requests coming from?

[2018-06-21 18:14] jamatulli commented on #114
@zoeleesss For security reasons the PCI Council has scheduled end of life for early TLS for June 30 2018. You will probably find you need to enable TLS 1.2 for apps running on Android 4.x.  There is a [blog post on the subject here](https://blog.dev-area.net/2015/08/13/android-4-1-enable-tls-1-1-and-tls-1-2/).  If you use this you might want to remove the version v1.1 (deprecated) and/or add v1.3

[2018-06-22 20:18] ZitRos commented on #55
Implementing txpool checkup would be a very nice addition to infura.

[2018-06-26 04:29] jamatulli commented on #121
@gburtini has this situation improved for you or are you still seeing issues with latency?

[2018-06-26 04:30] jamatulli commented on #120
@marknguyen85 were you able submit a signed transaction or otherwise resolve this particular issue?

[2018-06-26 18:44] gburtini commented on #121
We're back down to consistently less than 100ms now.

To answer your questions, it appeared to be pretty consistently high latency across all requests; we're located on the west coast, but appear to be hitting ELB at us-east-1 when reaching mainnet.infura.io.

[2018-06-26 18:44] #121 closed

[2018-06-27 18:29] VishalWaman opened #122 "Sometime events not received from Ethereum"
Hi,

We are using https://mainnet.infura.io/ with our Web3.js to listen events from Ethereum
we receive almost 90% or events but 10% are never received

Can anyone guide us on this ?

Thanks

[2018-06-29 21:39] fergarrui opened #123 "debug_traceTransaction support"
I couldn't find any issue tracking support of `debug_traceTransaction`.
A couple of months ago, I read that Infura is planning to add it, not sure if it is still the case.
I created a graphical debugger tool (https://github.com/fergarrui/ethereum-graph-debugger) and I would love to be able to use it with Infura.

[2018-07-02 11:30] Qqwy opened #124 "Infura does not folllow JSON-RPC properly; returning HTTP 405 errors instead of JSON-RPC error objects"
This issue is probably related to [this MetaMask issue](https://github.com/MetaMask/metamask-extension/issues/4693)

When the INFURA API is called using the JSON-RPC pathway with a method that does not exist, it will not respond using the format indicated in the JSON-RPC standard ([link](https://www.jsonrpc.org/specification#error_object)) but instead return an HTTP status code 405 with an empty r

[2018-07-06 20:44] mbgodsey opened #125 "Infura JSON RPC Documentation"
This is a Gitcoin bounty to write documentation for the Infura JSON RPC.

This documentation will provide a detailed description of each JSON RPC method, format for calling the method, and format of the method response. The description should include common use cases for each method.

An example of API documentation that we really like is Stripe's API documentation here, https://stripe.com/docs/ap

[2018-07-06 20:45] #125 closed

[2018-07-09 03:58] tueric commented on #122
Events shouldn't work over https at all. You need WebSockets.

[2018-07-09 03:59] tueric commented on #123
Hey @fergarrui, it definitely is still one of the things we want to support.

[2018-07-10 06:39] fergarrui commented on #123
Thanks @tueric , do you have any estimation on when it can be ready?

[2018-07-10 20:54] jdetle commented on #107
I ran into this issue and it was ostensibly solved by polling whatever the current gas price is and multiplying by 20.

[2018-07-10 20:57] jdetle commented on #55
If the nodes are load balanced, could the pools be aggregated in a way that reliably shows if a transaction is in the pool, but possibly doesn't show if it has been removed and mined? I would love to have some way to track if an address is associated with a pending transaction. Is there potentially a workaround with the apis available to Infura?

[2018-07-12 18:55] FYJen commented on #110
Has anyone successfully connected to ropsten's websocket? I have been trying but couldn't get connected. I am using web3.py
[code]

I was able to connect to rinkeby's and mainnet's but just not ropsten's. Could it be possible that the server ran out of the socket to connect with?

[2018-07-12 18:58] tueric commented on #110
@FYJen It's working for me. Please use `wss://ropsten.infura.io/ws`
What kinda of error are you getting?

[2018-07-12 19:05] FYJen commented on #110
@tueric: I am still analyzing the stacktrace. Following is when I ctl+c of the hanging process.

[code]

[2018-07-13 08:49] thackerronak commented on #55
any updates?

[2018-07-13 15:25] fabioberger opened #126 "Infura sometimes returns the incorrect block to `eth_getBlockByHash` requests"
Hi there,

I've run into an issue where Infura will intermittently return a block with a hash other then the hash supplied to the `eth_getBlockByHash` JSON RPC call.

Once the incorrect block is returned, it continues to return the same block over-and-over again (as if the incorrect block response got cached).

This is really strange behavior and is currently breaking [ethreumjs-blockstream](https

[2018-07-13 16:04] fabioberger commented on #126
False alarm, the issue was in the sending code. It mixed up `eth_getBlockByHash` and `eth_getBlockByNumber`

[2018-07-13 16:04] #126 closed

[2018-07-14 12:42] ramxis commented on #122
I am having the same issue, the problem is i cannot use Websockets as I am using web3 0.20.6, as when i use web3 1.0 my constant function gives me the error "UnhandledPromiseRejectionWarning: Error: Couldn't decode uint256 from ABI: 0x" when using infura. Every thing works fine if i use ganache but as soon as i connect to infura every thing breaks down. Please tell me how can  i watch or get event

[2018-07-14 22:22] ramxis commented on #73
I am having the same issue, the problem is i cannot use Websockets as I am using web3 0.20.6, as when i use web3 1.0 my constant function gives me the error "UnhandledPromiseRejectionWarning: Error: Couldn't decode uint256 from ABI: 0x" when using infura.  Since i was not able to resolve the issue with constant functions when using infura so i switched to web3 0.20.6 which works fine for everythin

[2018-07-15 08:56] stefek99 commented on #13
Wish I used search engine last night.

Spent some time debugging my code.

It was getting late, eventually gave up, went to sleep.

This morning realised what was the difference... Because I'm "read only", I switched from MetaMask _(that uses Infura under the hood, under the mask)_ to Infura directly. So minimalistic test case:

[code]

### Here is the error
![image](https://user-images.githubuser

[2018-07-15 09:34] stefek99 commented on #73
Micro rant in a related issue: https://github.com/INFURA/infura/issues/13#issuecomment-405077145

Now realizing I need to update my [web3.js](https://github.com/ethereum/web3.js/releases), `TypeError: Web3.providers.WebsocketProvider is not a constructor`.

Trying to set up super basic demo using `web3.js 1.0.0` and `const web3 = new Web3(new Web3.providers.WebsocketProvider('wss://ropsten.infura.

[2018-07-16 13:43] pakokrew commented on #12
getting a lot over here

[2018-07-17 20:56] mbgodsey opened #127 "Infura JSON RPC Documentation"
This is a Gitcoin bounty to write documentation for the Infura JSON RPC.

This documentation will provide a detailed description of each JSON RPC method supported by Infura, format for calling the method, and format of the method response. The description should include common use cases for each method.

An example of API documentation that we really like is Stripe's API documentation here, https:

[2018-07-18 18:44] owocki opened #128 "ipfs.add call takes about 15 seconds"
https://ipfs.infura.io:5001/api/v0/add takes about 15 seconds to respond.

here is some code you can use to repro
[code]

here is the response
[code]

[2018-07-18 22:43] ncocchiaro commented on #128
Thanks for reporting, we're currently investigating the problem.

[2018-07-18 23:49] mbgodsey opened #129 "Infura Websockets Documentation"
This is a Gitcoin bounty to write documentation for the Infura Websockets API.

This documentation will provide a detailed description of each JSON-RPC method supported by Infura over WebSockets, format for calling each method, and format of the method's response. The description should include common use cases for each method.

An example of API documentation that we really like is Stripe's API d

[2018-07-18 23:53] mbgodsey opened #130 "Infura IPFS Documentation"
This is a Gitcoin bounty to write documentation for the Infura IPFS API.

This documentation will provide a detailed description of each supported IPFS method on Infura's IPFS endpoint, format for calling the methods, and format of the method's response. The description should include common use cases for each method.

An example of API documentation that we really like is Stripe's API documentati

[2018-07-19 16:54] mbgodsey commented on #130
@aerophile, can you please provide documentation examples and examples of your familiarity with Infura's IPFS endpoint as well as IPFS in general?

[2018-07-19 16:59] mbgodsey commented on #127
@vikaskyadav, can you please provide API documentation examples and examples of your familiarity with Infura's JSON RPC API?

[2018-07-19 18:11] mallendeo opened #131 "IPFS: No 'Access-Control-Allow-Origin' header is present"
I'm getting this cors error when using `ipfs.object.patch.addLink`

Example using fetch:
[code]

[2018-07-19 21:58] Qqwy commented on #127
It might make sense to tackle #124 before this one.

[2018-07-20 06:12] vikaskyadav commented on #127
I haven't used Infura's JSON RPC API but yeah I have done api documentation
of other projects. I think it won't be very different.

[2018-07-20 08:33] sahar-fehri opened #132 "Cannot receive Ropsten faucet while working on ropsten with Infura"
Hello everyone, i am new to Infura and i wanted to try sth simple here are the steps i did:

created a new folder then inside of it i did : truffle init and then : npm i truffle-hdwallet-provider
went to : https://iancoleman.io/bip39/ and generated a 12 words mnemonic.
Here is my truffle.js file :
var HDWalletProvider = require("truffle-hdwallet-provider");
var mnemonic = "whisper clarify unusual

[2018-07-20 15:03] rafay98 opened #133 "Error when trying to add a file into ipfs from a js App"
request.js:150 POST https://ipfs.infura.io:5001/api/v0/add?stream-channels=true 0 ()
App.js:89 TypeError: Failed to fetch

Hi my console shows the above when I am trying to add something into ipfs from a js App. The code I am using to add something to ipfs is:
  onSubmit(event) {
    event.preventDefault()
    ipfs.files.add(this.state.buffer), (error, result) => {
      if(error) {
        consol

[2018-07-20 16:42] timothywangdev commented on #133
same

[2018-07-20 16:46] InVincible2016 commented on #128
I've been consistently getting 504 gateway time-out errors when tried to add contents to IPFS today.

[2018-07-20 16:50] ncocchiaro commented on #128
We saw the timeouts and are working on fixing them too.

[2018-07-20 16:51] vikaskyadav commented on #127
yeah sure, Have a look at api.boostr.ai . This is documentation of one of
the product I worked on.

[2018-07-20 17:35] mbgodsey commented on #127
@vikaskyadav Do you have any where you provided code examples?

[2018-07-20 18:19] vikaskyadav commented on #127
I can't share that code man. anything else we can agree on?

[2018-07-20 18:38] mbgodsey commented on #127
To clarify, I meant documentation where you provide coding examples on how to use the API, per the requirements identified in the bounty.

[2018-07-20 19:11] ncocchiaro commented on #128
The issues with timeouts should be resolved.

[2018-07-20 19:32] tueric commented on #133
So, i tested out our endpoint and things seem to be ok. Are you still having issues? I noticed a weird syntax thing you have in your code. Namely `ipfs.files.add(this.state.buffer), (error, result) => {`
Looks like youre closing your bracket early right after buffer. `ipfs.files.add` takes in 2 params, and youre only giving it one.

Here is what i tried with:
[code]

[2018-07-21 03:17] ambertch opened #134 "Websocket for Rinkeby up, Ropsten/MainNet down (+ status.infura.io)"
Hi,

When I call eth_newFilter, and subsequently eth_getFilterLogs from wss://rinkeby.infura.io/ws, I get a successful retrieval of log data:

[code]

from  wss://mainnet.infura.io/ws, eth_newFilter hangs:

[code]

from wss://ropsten.infura.io/ws, eth_newFilter hangs as well:

[code]

(w/ websocket connection closed 404 sometimes, which from other threads I understand is expected)

I understand th

[2018-07-21 15:04] owocki commented on #130
just rejected the applications above per mike's request

[2018-07-21 15:05] owocki commented on #127
just rejected the applications above per mike's request

[2018-07-21 15:22] vikaskyadav commented on #127
fine. no worries.

On Sat, 21 Jul 2018, 20:35 Kevin Owocki, <notifications@github.com> wrote:

[2018-07-21 15:36] owocki commented on #128
fwiw; i'm still seeing about 10 second response times here.

[code]

[2018-07-21 23:35] rahulrumalla commented on #127
hey @mbgodsey

To clarify, I'm guessing you want to capture all the API endpoints ( assuming all of them are indeed supported ), potentially in a .yaml file (like swagger) and to be ported into something like apiary?

I did run into the incomplete apiary docs.

[2018-07-22 09:57] elie222 commented on #97
Any idea when this will be production ready?

[2018-07-22 17:09] vikaskyadav commented on #127
@owocki @mbgodsey have sent api swagger link that I created yesterday.

[2018-07-22 18:29] rahul-ki commented on #13
HI is there any update on the issue? I am using UPort's web3 provider which is rinkeby.infura.io and getting the same error.

[2018-07-23 16:05] rafay98 commented on #133
Hi tueric,
I tried using your code and still get the same errors. Here is a screenshot of the console logs when I try uploading the file.
https://imgur.com/EdcUFZ2

[2018-07-23 16:12] mbgodsey commented on #130
@aj07, can you send some examples of previous API documentation you have written and any projects/information on your familiarity with IPFS and Infura's IPFS endpoint?

[2018-07-23 16:13] mbgodsey commented on #129
@aj07, can you send some examples of previous API documentation you have written and any projects/information on your familiarity with Websockets and Infura Websocket endpoint?

[2018-07-23 16:19] aj07 commented on #130
@mbgodsey I haven't written any API docs as of now but I am very much familar with Infura's IPFS and used it.
I would like to give try on this. If this worked out, I would like to take https://github.com/INFURA/infura/issues/129

[2018-07-23 16:55] mbgodsey commented on #130
@aj07 do you have any public example projects where you use Infura's IPFS endpoint?

[2018-07-23 16:55] mbgodsey commented on #127
@rahulrumalla I have approved you to start, will email you with starting meeting suggestions.

[2018-07-23 16:58] aj07 commented on #130
@mbgodsey as of now no.  I am using it in the making of wallet service

[2018-07-23 19:41] rahulrumalla commented on #130
Here's a demo of the ipfs examples with a lightweight golang sdk I quickly made
https://github.com/rahulrumalla/go-infura/tree/master/infura/ipfs

Past projects ( linking again for reference )
https://github.com/omi/api-specs
https://omi01.docs.apiary.io

[2018-07-24 02:14] acidfreako commented on #73
yep  i got the same error , i am asking the same question on gitter channel.

[2018-07-24 11:59] LiorRabin opened #135 "`Error: Invalid JSON RPC response: ""` on `getPastEvents`"
This is a snippet of my code:

[code]

Sometimes I see in log:
[code]

Sometimes I see this:
[code]

And sometimes everything is ok.

This happens on `https://mainnet.infura.io/<API_KEY>` and on `https://ropsten.infura.io/<API_KEY>`

What am I doing/understanding wrong here?

Thanks

[2018-07-26 15:05] mbgodsey commented on #127
@rahulrumalla I have snoozed the warnings since we have discussed a timeline offline

[2018-07-26 15:08] mbgodsey commented on #129
@hardlydifficult the example you provided does not utilize Infura's Websockets endpoints, do you have examples that show your familiarity with Websockets?

[2018-07-26 15:57] rahulrumalla commented on #127
Perfect. Thanks.

[2018-07-26 17:15] hardlydifficult commented on #129
No, I don't have any examples using websockets.. If you'd still like to
move forward, I would put something together before our call so I know what
I'm doing.

On Thu, Jul 26, 2018 at 8:09 AM, mbgodsey <notifications@github.com> wrote:

[2018-07-27 09:21] Koshukey commented on #133
same here

[2018-07-27 09:41] woshidama323 commented on #73
Have you fixed this problem ?

[2018-07-27 09:43] acidfreako commented on #73
Yes I did downgrades Yk beta version 33 and solved the problem

[2018-07-27 12:53] Astralite commented on #58
Also have the same problem. I'm making several requests per second and they seem to just start timing out after a while (maybe after 30 or so)
Error: Invalid JSON RPC response: ""

It was working ok for about a month up until today (i was getting this error quite infrequently)

[2018-07-27 13:48] rafay98 commented on #133
Hi everyone,
So for me personally, I was able to track the source of my error to my company's firewall blocking access to ipfs, and whenever I tried running the program there I was unable to, however at home I had no problems doing so. This may not help everyone but it's just a suggestion for a solution.

[2018-07-27 14:22] Duncan-Brain commented on #71
Link is broken I think.

[2018-07-27 17:04] rahulrumalla commented on #130
This is in progress but docs repo is different to this. PRs are being managed there.
@mbgodsey - want to snooze this as well ?

[2018-07-27 17:51] mbgodsey commented on #130
@rahulrumalla no problem, I snoozed them here as well.

[2018-07-27 17:53] mbgodsey commented on #129
@hardlydifficult if you'd like to put together examples per the issue requirements, we can review and approve if they look good.

[2018-07-27 18:11] Pneumaticat opened #136 "Registration confirmation emails bounce - "Sender address rejected: Domain not found""
This might just be my mailserver, but the registration email bounces like so:

[code]

It appears to be caused by [not configuring an MX record on the Infura subdomain](https://stackoverflow.com/questions/27930771/mailgun-messages-from-subdomain-without-mx-record-get-rejected-by-some-mail-prov). My mail server seems to block messages sent by servers without an MX record as a spam protection featur

[2018-07-27 22:46] mbgodsey commented on #129
@hardlydifficult going to reject your app for now, if you can put together some WS examples, please reapply

[2018-07-28 04:09] Koshukey commented on #133
@rafay98
Thanks for advise

[2018-07-28 15:19] PaulRBerg commented on #78
Using truffle 4.1.13 and the issue persists.

[2018-07-29 04:50] Koshukey commented on #133
I changed my network and it worked!!!

[2018-07-30 18:46] #127 closed

[2018-07-30 18:46] mbgodsey commented on #127
@rahulrumalla great work on this issue!

[2018-07-30 19:30] JeeChoi commented on #117
Hello, any websocket connection that goes idle for over an hour is disconnected. Setting up the client to send pings will prevent the connection from going idle, but I believe that is dependent on what the browser supports, and not the client code.

[2018-07-30 19:40] vs77bb commented on #127
🎉 🎉 🎉

[2018-07-30 20:30] JeeChoi commented on #134
Hi, I just tried creating filters for mainnet and ropsten and I got back responses to them and could call getFilterLogs on them successfully. (I tested using wscat). I'm a bit unclear if you are failing in creating the new filter or getting logs from it? Do you know around how much data you expecting back from getFilterLogs?

(Sorry, there is currently no status page for websockets. :( hopefully,

[2018-07-30 20:39] wodxumingxu commented on #73
i got the same error, what is Yk you refers to? @acidfreako

[2018-07-30 21:09] JeeChoi commented on #73
the problem/fix(?) is described here: https://github.com/ethereum/web3.js/issues/1559
like @acidfreako said, you need to downgrade web3.js beta to version 33

[2018-07-30 22:18] etherace commented on #117
Hey @JeeChoi , thanks for the clarification! I'll try that out as a solution.

[2018-07-30 22:18] #117 closed

[2018-07-30 23:06] hewigovens commented on #102
Some additional informations:

1. Quote from https://www.jsonrpc.org/specification

2. You can't use infura with MyCrypto since MyCrypto uses hex string for id (code is here: https://github.com/MyCryptoHQ/MyCrypto/blob/develop/common/libs/nodes/rpc/client.ts#L13)

[2018-07-31 03:15] acidfreako commented on #73
@wodxumingxu  yes downgrading the web3 from beta 34 to 33 helped

[2018-07-31 06:36] appielife commented on #57
@maurycyp
 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*
while calling eth.getTransactionCount

[2018-07-31 07:32] appielife commented on #57
![image](https://user-images.githubusercontent.com/13350207/43444642-eaca3494-94c1-11e8-8c9d-e4f36a932952.png)

[2018-08-01 01:12] roschler opened #137 "30 second delay when sending transactions to Rinkeby?"
When I call the  _web3.eth.sendSignedTransaction(serializedTx);_ method, using my API key adorned Infura URL as the argument to _web3.setProvider("https://rinkeby.infura.io/<api key redacted>"_, there is a 30 second delay before the call returns with the Tx hash.  Note, I am _not_ referring to the time it takes for the block to mine.  I'm saying it takes 30 seconds just to get the Tx hash back fro

[2018-08-01 18:43] rahulrumalla commented on #130
@mbgodsey the merged PR to master is here https://github.com/INFURA/documentation/pull/23

[2018-08-01 19:50] mbgodsey commented on #130
@rahulrumalla these look really great!

[2018-08-01 20:01] #130 closed

[2018-08-04 09:43] ZyanWlayor commented on #57
emm,I've had this problem.Then I downgrade web3 to 1.0.0-beta.34,and there's no problem.

[2018-08-04 23:27] Thoughtscript commented on #129
Hi! Just checking to see if there's any work on this that still needs doing! Thanks!

[2018-08-05 20:25] rahulrumalla commented on #129
In progress. Actual docs repo is different to this one.

[2018-08-06 15:29] mbgodsey commented on #129
@rahulrumalla warnings snoozed

[2018-08-06 19:56] ncocchiaro commented on #136
This should be resolved now, can you try again?

[2018-08-06 20:02] Pneumaticat commented on #136
That issue seems fixed now (thanks!), but now it gets blocked by spamcop:

[code]

Which is honestly probably just Mailgun's fault. I've had it happen on some Mailgun emails I send, too. I'll just whitelist Infura's sending email for now.

[2018-08-07 06:15] mesqueeb commented on #75
@Freydal What is the max size of the response? Does infura have any API limits? I can't seem to even get pastEvents for just 5000 blocks...

[2018-08-07 06:18] mesqueeb commented on #77
@ryanschneider I have trouble all the time with making requests to Infura Websocket that have connection timed out, probably because the response is too big.

How can I know how big a response will be so I know what the best way is to split it up?

Best regards

[2018-08-07 14:08] Freydal commented on #75
@mesqueeb I'm really not sure of the max number of transactions it can pull at a time, but i don't think it is that large.  I was having issues with prototype contracts that had probably less than 500 transactions overall.  You can traverse a very large breadth of blocks if there is no activity.

I needed to look for activity where I didn't have any context of where it started, so I was scanning f

[2018-08-08 06:55] mesqueeb commented on #75
@Freydal
Thanks for the great advice.
I'm sure I could figure it out like this, but if you could share me **the function you wrote to "catch the infura websocket api error"**, that would greatly help me! It's a bit different from ajax calls, so I need some more practice.

Cheers!

[2018-08-08 14:59] amihalopoulos commented on #97
I'm getting the same error. 'wss://mainnet.infura.io/ws' doesn't work/connect at all with error 'CONNECTION ERROR: Couldn't connect to node on WS.'
while 'wss://mainnet.infura.io/_ws' appears to connect for a second then drops connection with the same error.

[2018-08-08 21:33] Freydal commented on #75
I'll try to give a quick example with proprietary stuff pulled out.  Some of this was for a proof of concept and hasn't had any thorough testing or review.

[code]

[2018-08-09 05:41] mesqueeb commented on #75
@Freydal Thank you so much!
Could I ask what `resetWeb3()` does?

[2018-08-09 06:48] shaharsol commented on #55
Update please?!?

[2018-08-09 15:53] Freydal commented on #75
It just recreates the web3 object.  I had an issue with the connection being killed and web3 became unresponsive so i just completely recreated it.

[2018-08-09 16:30] saitam1 commented on #73
@ncocchiaro Can you already tell when there will be support for websockets on Kovan?

[2018-08-09 21:33] ncocchiaro commented on #73
Good timing! We now have a wss://kovan.infura.io/ws endpoint, and have just published new documentation on the websocket API: https://infura.io/docs/wss/introduction. Please create a new issue if you see any problems.

[2018-08-10 17:57] xinbenlv commented on #78
Truffle v4.1.13 (core: 4.1.13)
Solidity v0.4.24 (solc-js)
Still have the issue every once awhile

[2018-08-10 17:59] xinbenlv commented on #78
Seems also reported on #135. not sure if completely duplicated

[2018-08-13 03:48] SarsTW commented on #57
Hi @ZyanWlayor and @nachomazzara

According to https://github.com/ethereum/web3.js/releases/tag/v1.0.0-beta.35

A breaking change at 1.0.0-beta.35.

Need to use following code instead

[code]

[2018-08-15 13:05] tueric commented on #137
Hey @roschler that's not normal behaviour... I don't see that on my side. Where are you located? Maybe its your internet connection.

[2018-08-15 13:33] roschler commented on #137
@tueric It's not my Internet connection.  It also happens when the dApp is deployed to production web server in the cloud.

[2018-08-16 13:57] jurosh commented on #57
Similar CORS issue (strange that only in Firefox) here with `0.20.7`, downgrade to `0.19.1` helped.

[2018-08-21 16:06] kartojal commented on #128
Having issues today adding files using Infura IPFS provider, maybe is related. First it took near a minute to upload a 13kb file this morning, then it stopped working, i'm receiving 504 gateway timeout errors when doing POST.

[2018-08-22 23:10] istrau2 commented on #123
@tueric Any updates on this?  Is there any other way for me to sense internal transactions (i.e. value transfers initiated via a smart contract) using the infura API?

[2018-08-28 18:51] borboss366 opened #138 "getPastEvents via infura stopped working a couple of days ago"
I try to getPastEvents via web3 infura. Queries are ok. But when I try to connect to call getPastEvents on my contract, it either does not return anything and logs CloseEvent error to the console or works very slowly and returns only part of the events. A week ago everything worked perfectly.

This is how I create the web3 library -
[code]

This is how I call getPastEvents, where this.state.lastBl

[2018-08-28 19:37] ncocchiaro commented on #131
With the latest deployment the CORS issues should be resolved, however you'll still get an error when trying to use the `/object/patch` RPCs as they are not in the subset of the IPFS API that we currently expose. We recently published new documentation at https://infura.io/docs/ with all supported endpoints.

[2018-08-28 19:37] #131 closed

[2018-08-29 03:38] nhatminh12369 commented on #138
I'm encountering the same issue when calling getPastEvents on Rinkerby test net as well. I started noticing it yesterday. I'm using the HTTP provider and this is the error:
**Failed to load resource: the server responded with a status of 500**

[2018-08-29 17:52] dpurhar27 commented on #138
+1 noticed it started yesterday. Was working before that fine. I'm using the Infura WS on Rinkeby to listen to events from the contract. It'll connect then instantly drop the connection and when I attempt to reconnect it says I've connected but when I try to listen to past events they return this:

 CONNECTION ERROR: Couldn't connect to node on IPC

[2018-08-29 19:04] voith commented on #134
I reached this issue through https://github.com/ethereum/web3.py/issues/1009.
I can conifrm that a binary frame (opcode 2) doesn't work on the mainnet. It just hangs entirely.
Here's a test in python:
[code]
[code]

However, this works:
[code]
output: `'{"jsonrpc":"2.0","id":1,"result":"0x5f28ad"}`

[2018-08-29 19:08] ryanschneider commented on #134
We do not support binary frames, only text `0x01` frames.

[2018-08-29 19:28] voith commented on #134
@ryanschneider Are there any plans to support binary frames `0x02`?

[2018-08-29 20:15] chentschel commented on #134
Hi guys. Same error, using web3py 4.3.0. Calling on websocket events stopped working a few days ago.

[2018-08-29 20:19] ryanschneider commented on #134
We do not have plans to support binary frames at this time.

[2018-08-29 21:14] ryanschneider commented on #134
Actually, it wasn't clear to me that geth supported binary frames as well, so to maintain compatibility with it I think we should support them.  I've taken a look at the code changes on our end and they are pretty minor, so hopefully we can get this rolled out soon (probably not today, but sometime shortly).

[2018-08-29 22:10] barrard commented on #135
Im getting this same error using Rinkeby network.  It used to be a rare occurrence, but it's happening more frequently all of a sudden.

[2018-08-29 22:17] jparklev commented on #57
I'm facing the same issue, any word on this?

[2018-08-29 23:04] ryanschneider commented on #134
We were able to get this deployed today after all, so binary frames are now accepted as well.

NOTE: The `/_ws` endpoints have been deprecated, and will be disabled at some point, so you should use the officially documented `/ws` endpoints going forward.  They both resolve to the same set of servers now, so there is no reason to use `/_ws`.

[2018-08-29 23:04] #134 closed

[2018-08-30 03:31] voith commented on #134
@ryanschneider Thanks for fixing this fast! I have tested it, works fine!

[2018-08-30 08:31] sivachaitanya commented on #95
how did you solve this ?

[2018-08-30 08:55] barrard commented on #95
I just got this same error
 infurating...

[2018-08-30 13:04] sunify commented on #138
Maybe related: https://github.com/ethereum/go-ethereum/issues/17289

[2018-08-30 17:51] ncocchiaro commented on #128
We deployed a new backend architecture for our IPFS endpoint and are no longer seeing this kind of timing on adds. Closing this issue for now.

[2018-08-30 17:51] #128 closed

[2018-08-31 12:31] albertbanez commented on #59
Hi, can u create an ETH wallet address in Infura?

[2018-09-03 22:18] ZitRos commented on #12
Same here. Calls to `eth_getBlockByNumber` frequently error. In my case, `https://api.infura.io/v1/jsonrpc/:network/eth_getBlockByNumber?params=["0xAAAAAA",true]&token=...`. These types of requests definitely need permanent persistent cache implemented to not to bother nodes on each request.

[2018-09-05 22:46] FYJen opened #139 "Rinkeby Websocket connection is flaky on pulling new pending txns"
I have been trying to connect to the Rinkeby websocket, Sometimes it works, sometimes it doesn't. I am using python web3.py. A similar question has been asked https://github.com/ethereum/web3.py/issues/1035, but I wasn't able to reproduce that yesterday. However, it gets flaky again today.

[code]

I cannot reproduce it on Ropsten and Mainnet as both gives me stable result (as in I was able to con

[2018-09-05 22:52] ryanschneider commented on #139
Rinkeby is having network-wide consensus issues at the moment, so no new blocks are being mined.

That said, in general you shouldn't be inspecting `pending` transactions on our infrastructure, as the distributed nature of our infrastructure means you are not guaranteed to see all pending transactions, even ones you send yourself.

Also, there are underlaying issues with geth's subscription implem

[2018-09-05 22:57] roschler commented on #139
Is there a web page we can watch to check the status of this condition?

That poses an interesting problem.  Suppose you want to create a layer in your dApp that checks for "stalled" transactions and tries resubmitting them with a higher gas price but the same nonce.  I recognize that with the Rinkeby mining strategy that's not very relevant, but it would be helpful to be able to test the strategy

[2018-09-06 16:11] ryanschneider commented on #139
https://www.rinkeby.io/#stats

At the time of the issue, the "Last Block Time" was not resetting but was instead creeping higher and higher, in this case several hours before the issue was resolved.  I'll stress again this was a rinkeby-wide issue, not Infura-specific.

If the transactions are user-initiated, this would typically be something handled inside the users' wallet software (for example

[2018-09-08 19:35] ltamrazov commented on #74
@tueric any follow up or recommendation for this issue? We are also running into this:
0xa3b2e209ee170b42ff545e29f87f9d329adc17886a5824453a5a0651fb01a46f
0xbac66b1e87e3c83f281ed7b43dfe75875d46cfb4ea32c41e4ddac59540696534
0x01da726d966748d1b6b645a88854db94409b00927f0dec9c5c193c3a87150d87
0x6babed00c6b4d58fde0c572849f5045b8bb56d12864236b1590771712963f887
We did about 7 transactions in quick successi

[2018-09-10 16:24] minhtruong92 opened #140 "Error: CONNECTION ERROR: Couldn't connect to node on WS."
I use this code at https://infura.io/docs/wss/introduction

[code]

I got error message when run:

[code]

I'm using web3 version 1.0.0-beta.36.

[2018-09-10 19:44] sheluchin commented on #55
Looking forward to seeing this supported sometime in the future.

[2018-09-11 06:57] The-3D opened #141 "Fetching data for our dapp through the metamask provider stopped working two days ago"
Hello hero, i'm a dev from ETHLend (www.ethlend.io). Our application is not working correctly since two days ago for unknown reason. All the smart contracts calls that fetch data from the blockchain are not executed properly or working sporadically and we cannot wrap our head on the reason why. You can go to the application (app.ethlend.io) and try it yourself, we added some console messages to tr

[2018-09-11 07:07] The-3D commented on #141
to add to the issue, everything is working fine in kovan. So the issue is related to mainnet only

[2018-09-11 10:47] 00jw commented on #141
Same. Receiving this in web3.py when trying to call an erc20 balanceOf:
`Could not decode contract function call balanceOf return data b'' for output_types ['uint256']`

Nothing has changed in my code

[2018-09-11 14:53] The-3D commented on #141
right now everything seems to work. It would be really appreciated if you can communicate with the users in case of service outage, since 90% of the ethereum network users are using infura to access it.

[2018-09-12 11:07] melnikaite commented on #135
In my case it happened when I tried to get events from non-contract address

[2018-09-12 13:57] melnikaite commented on #135
Everything is fine for `https://kovan.infura.io/v3/<api key>`, but I'm getting `Error: Invalid JSON RPC response: ""` too often for `https://ropsten.infura.io/v3/<api key>` and `https://mainnet.infura.io/v3/<api key>`. I tried to do requests in sequence with small delay instead of parallel, but it didn't help. Also I noticed that requests with `fromBlock: 2000001` fails more often than with higher

[2018-09-12 20:33] FYJen commented on #139
@ryanschneider: Any update on the geth's node subscription issue you mentioned?

[2018-09-12 20:53] ryanschneider commented on #139
@FYJen nothing yet, I've been focused on some other scalability issues so haven't had time to debug where the subscription subsystem might be soft locking, and then how to fix it.

[2018-09-12 21:16] FYJen commented on #139
@ryanschneider: I see. I am following up on this because `wss://rinkeby.infura.io/ws` is completely unaccessible again today. Ropsten and mainnet remain working. For the time being, I am fine with not receiving all pending txns from the network due to the Infura's implementation you mentioned. However, I couldn't find much information of the Rinkeby network status on infura.

Could you help me che

[2018-09-12 22:58] FYJen commented on #139
@ryanschneider: I am using web3.py (4.4.1) to connect to Infura. The connection simply hung when I tried to connect to Infura Rinkeby websocket. I didn't dig into it because the connection has always been flaky for a while. It lasted exceptionally long today. But now, it is working again (shrug)

[2018-09-13 16:12] nhatminh12369 commented on #138
Seem like the issue has been fixed. I tried just now and it worked.

[2018-09-13 23:42] sharad-s commented on #19
Eagerly awaiting Whisper support on Infura!

[2018-09-14 20:26] istrau2 opened #142 "debug.getModifiedAccountsBy(Number|Hash) support"
Is this supported by Infura? Its extremely useful for detecting internal transactions for a specific account (i.e. has an account had anything deposited to it in block X).

[2018-09-18 11:37] saitam1 opened #143 "Is Infura down?"
I get this return, when I use the URL with my key https://kovan.infura.io/key...

[2018-09-18 14:15] john-osullivan commented on #71
Confirm, the above link is open.  Could the answer please be copied in as a comment by somebody who knows?

[2018-09-18 18:17] tueric commented on #71
https://infura.io/docs/api/post/eth_call

[2018-09-21 13:41] wangw11 commented on #13
HI is there any update on the issue? I am using UPort's web3 provider which is rinkeby.infura.io and getting the same error.

[2018-09-24 06:16] k06a opened #144 "Nodes state delay"
It seems infura node have more than 1h state delay. I see different results on REMIX IDE over MetaMask connected to INFURA and at Ethersca.io.

[2018-09-24 07:54] k06a commented on #144
It seems INFURA node updated at least to necessary state, but now have new problem:
[code]

[2018-09-24 10:32] k06a commented on #144
Browser restart helped, maybe connected to different infura instance.

[2018-09-25 14:38] sjalq commented on #97
Any updates on this yet?

[2018-09-25 20:49] uneeb123 commented on #97
Crap, I need this also. Is this really hard?

[2018-09-25 20:50] uneeb123 commented on #97
+1 on this.

[2018-09-25 21:19] mehtamanan commented on #97
Yes, please. Any updates would help us plan our milestones and tasks :) No rush on the development but just an approximate date for ws to be production ready would be really really helpful.

[2018-09-26 14:40] sevriugin commented on #141
We have similar problem with one account. [0x8b12bf7a8b5d987a829a7b68801c5b1c2a16677d](https://etherscan.io/address/0x8b12bf7a8b5d987a829a7b68801c5b1c2a16677d )
Our DApp [savemyluggage](https://savemyluggage.io) stopped working for one of our customer after he made a join with error message from drizzle.js : 1982  - "Could't decode address from ABI: 0x"
![photo_2018-09-26_17-38-14](https://user-im

[2018-09-26 14:51] The-3D commented on #141
Today we are having issues again. I think is some kind of service outage by infura, it would be really appreciated if you guys would at the very least let the users know when you have problems, we have business running on your platform and this level of service is completely unacceptable even for a free service.

[2018-09-26 15:42] ryanschneider commented on #141
Please provide the actual JSONRPC requests which are failing otherwise there's nothing we can do to help you debug.

[2018-09-26 17:26] TimDaub opened #145 "ipfs.util.addFromFs gets 504 Gateway Time-out from ipfs.infura.io"
[code]

Receives a 504 timeout from infura:

[code]

Which looks like this as the returned error value from IPFS:

[code]

[2018-09-28 11:14] pors opened #146 "Ticker API returns 404 for CNY"
According to the [symbol list](https://api.infura.io/v1/ticker/symbols), the `ethcny` should be supported, but it returns a [404](https://api.infura.io/v1/ticker/ethcny).

[2018-09-30 19:40] sagarpomal commented on #65
@tueric : While accessing Infura ropsten from GCP App Engine, it throws below error but works fine in local. Any thoughts?

 CONNECTION ERROR: Couldn't connect to node https://ropsten.infura.io/v3/token

[2018-09-30 21:32] sagarpomal commented on #65
@nickjuntilla: Thank you for your help. Version 8 is already enabled but still no luck. Will try to enable 8.12 and check it out

[2018-10-01 02:16] nickjuntilla commented on #65
@sagarpomal It might also help to check the limitations of your plan. I'm using Blaze.

[2018-10-01 09:39] sagarpomal commented on #65
@nickjuntilla : I am using GCP App engine. I'll check by updating the node version.

[2018-10-01 21:48] ramxis opened #147 "IPFS Mutable File system code stoped working"
Hi

I keep getting the error "SyntaxError: Unexpected token < in JSON at position 0" when using   ipfs.files.write() with Infura Node. Here Is my code:
ipfs = new IPFS({ host: 'ipfs.infura.io', port: 5001, protocol: 'https' });
const data = "Initializing Sensor and Shipping data logging for package Nr." + trackingNr.toString() + "\n";
    const buffer = Buffer.from(data,'utf-8');

    //ipfs.files

[2018-10-01 22:04] ramxis commented on #145
I am getting this error as well, were you able to resolve it ?

[2018-10-02 01:26] wjmelements opened #148 "eth_getLogs is taking about 12 seconds"
The latency difference between fetching information with eth_getLogs compared to eth_call is significant. The high latency leads me to suspect that logs aren't indexed by contract address or topic.

Experimentally, the request seems to take between 11 and 14 seconds. Logs are important sources of information, and request latencies should be less than the block time.

The request I am sending is:
[

[2018-10-02 19:14] Dominator008 commented on #117
@JeeChoi What counts as a "ping"? I've tried `eth_getBlockByNumber` which doesn't seem to be working. My connection is still cut off after an hour.

[2018-10-02 19:52] ramxis commented on #145
I think Infura might be filtering this command in their API, as it was working for me about a month ago.

[2018-10-02 19:59] ryanschneider commented on #117
@Dominator008 we are referring to ping control frames as per the RFC:

https://tools.ietf.org/html/rfc6455#section-5.5.2

How you generate ping control frames would depend on your client library.

However, sending any standard traffic should work to keep the connection open as well.  Are you disconnected exactly an hour after first connecting, or an hour after your last sent message?

[2018-10-02 20:33] Dominator008 commented on #117
Sorry it was not "after an hour". The connection remained open for more than an hour and I ping `eth_getBlockByNumber` every few seconds, but I still got disconnected at about 04:07 PST. Is it just a flake then?

[2018-10-02 20:35] ncocchiaro commented on #147
The `/files` methods as well as other stateful portions of the IPFS RPC API are not supported via the Infura endpoint. My suggestion would be to use some of the other write RPCs like `/add` or `/object/put` and keep track of hashes and other content identifiers as needed. We've recently published documentation on the subset of the Ethereum and IPFS APIs that our backend supports: https://infura.io

[2018-10-02 20:53] ryanschneider commented on #117
@Dominator008 yes you can be disconnected for multiple reasons, so should be prepared to reconnect in your code.  The reasons include but are not limited to:

- Maintenance on our end
- We detect an issue with the ethereum node you are getting subscription information from
- network issues between your client and our backend

Ideally we'd like to notify users of such disconnects by emitting events

[2018-10-02 22:40] Dominator008 commented on #117
@ryanschneider Thanks for the clarification!

[2018-10-02 23:35] ncocchiaro commented on #145
@TimDaub when using addFromFs are you adding content larger than 100M in one call, or getting this timeout after 60 seconds?

[2018-10-03 07:30] wjmelements commented on #148
I am currently working around this issue by specifying several, narrower, block ranges.

[2018-10-03 08:16] wjmelements commented on #148
For comparison, the same request but on Rinkeby with a `fromBlock` of `0x0` takes about one second.

[2018-10-04 00:05] GTOsss opened #149 "Transaction not pass without errors"
I made a transaction using trezor in kovan testnet, I do not get any errors, but the transaction does not pass.

My code:
[code]

result:

![image](https://user-images.githubusercontent.com/19191516/46446745-b883f180-c786-11e8-81e3-82e1f0d98719.png)

status in etherscan ("Sorry, We Are Unable To Locate This transaction Hash"):
https://kovan.etherscan.io/tx/0x300e758783c552a1b8fb4babfc170872a67ff14

[2018-10-04 00:38] ryanschneider commented on #149
Since `nonce` starts at `0` and `eth_getTransactionCount` returns the amount of mined transactions, you don't need to add 1 to it.

Also I believe the nonce should be either be a hex-encoded 0x-prefixed string or a number, you are using `"4"` in your example I believe it should be either `"0x3"` or `3`, but I'm not 100% sure on that.

[2018-10-07 16:54] chaftacode commented on #127
I think it is important to keep Infura's documentation (and implementation) up-to-date with https://github.com/ethereum/EIPs/pull/1474 when it lands. I think Infura's documentation is fine for now since they both relied on the same eth JSON-RPC wiki.

[2018-10-07 17:27] ryanschneider commented on #127
Looks like the case for an "unsupported" error code was also made here:

https://github.com/ethereum/EIPs/issues/136#issuecomment-255492384

I'll go ahead and move this discussion over the the EIP.

[2018-10-08 15:58] john-osullivan commented on #58
I've got an app making a couple hundred requests per day at most, running into a lot of requests timing out.  If there are no official rate limits, does that mean this is expected behavior?